<template>
    <div>
        <vue-progress-bar />
        <Navbar />
        <div class="main-title block-section padd-100-top padd-100-btm bg-grey">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="main-title-primary">About Us</h1>
                        <h4 class="main-title-secondary">
                            Our vision in the construction industry
                        </h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ol class="breadcrumb">
                            <li><a href="/">Home</a></li>
                            <li class="active">About Us</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-main">
            <div class="about content-section">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <img
                                src="/assets/site/images/img-content-04.jpg"
                                class="img-responsive cast-shadow"
                            />
                        </div>
                        <div
                            class="col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1"
                        >
                            <p class="text-justify">
                                At ED &amp; WD Engineering Services, we all come
                                to work every day because we want to solve the
                                biggest problem in civil building construction.
                                Where different stakeholders are involved,
                                public, private construction companies, and
                                ministries of civil works, in order to meet
                                their needs in construction projects, however,
                                most of the construction projects are running
                                behind schedule and there is a biggest cost
                                impacting that implies inefficiency.
                            </p>
                            <p class="text-justify">
                                Throughout the history, many construction
                                projects need a good assessment since from the
                                design phase, execution phase and handover
                                phase. Our mission at ED &amp; WD Engineering
                                Services is to support those public and private
                                construction companies, in order to determine
                                the client requirements, execute the Process
                                optimization for construction sites and
                                Procurement of Services, Consultancies,
                                Subcontract and Supply of materials,
                                <strong class="groupEdWd-red-color"
                                    >on work breakdown structure with a main
                                    focus on Facades works and BIM modelling
                                    systems</strong
                                >, which are those commodities critically for
                                the correct execution of the Project. We want to
                                be as an Added Value for the construction
                                companies in order better approach any building
                                construction projects
                            </p>
                        </div>
                    </div>
                    <div class="row padd-40-top">
                        <div class="col-md-6">
                            <div class="groupEdWd-about-container">
                                <div class="groupEdWd-about-icon">
                                    <i class="fas fa-handshake"></i>
                                </div>
                                <div class="groupEdWd-about-content">
                                    <h2 class="groupEdWd-about-content-title">
                                        Our Vision
                                    </h2>
                                    <p
                                        class="text-justify groupEdWd-about-content-description"
                                    >
                                        Our mission is to promote scientific and
                                        engineering principles to solve the
                                        world’s challenges and to lead the
                                        project delivery target — starting with
                                        yours. Whether we’re focusing on the
                                        design, construction, supply chain
                                        management and procurement of buildings,
                                        we never limit ourselves, applying our
                                        expertise to all types of projects
                                        across a range of industries.
                                        <strong class="groupEdWd-red-color"
                                            >We innovate with one goal in
                                            mind</strong
                                        >, to optimize your project – its design
                                        and its processes – to make it the best
                                        it can be.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="groupEdWd-about-container">
                                <div class="groupEdWd-about-icon">
                                    <i class="fas fa-thumbs-up"></i>
                                </div>
                                <div class="groupEdWd-about-content">
                                    <h2 class="groupEdWd-about-content-title">
                                        What we do
                                    </h2>
                                    <p
                                        class="text-justify groupEdWd-about-content-description"
                                    >
                                        Whatever issue you face, we have your
                                        solution. We get to the heart of every
                                        problem—We are committed to providing
                                        the simple solutions for complex
                                        projects through our technical skills.
                                        together we can help you achieve your
                                        goals
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <hr class="groupEdWd-line-divider" /> -->
                </div>
            </div>
            <!-- <Team /> -->
            <Expertise />
        </div>
        <Footer />
    </div>
</template>

<script>
import Navbar from "../../layouts/Site/Navbar";
import Footer from "../../layouts/Site/Footer";
import Team from "../Site/inc/Team";
import Expertise from "../Site/inc/Expertise";

export default {
    name: "About",
    components: { Expertise, Navbar, Footer, Team, Expertise },
    data() {
        document.title = `About Us | ${this.$name_site}`;
        return {};
    },
    methods: {
        loadData() {
            //
        }
    },
    created() {
        this.$Progress.start();
        this.loadData();
        this.$Progress.finish();
    }
};
</script>

<style scoped></style>
