<template>
    <div>
        <vue-progress-bar/>
        <Navbar/>
        <div class="main-title block-section padd-100-top padd-100-btm bg-grey">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="main-title-primary">Contact Us</h1>
                        <h4 class="main-title-secondary">Leave us a message or call us.</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ol class="breadcrumb">
                            <li><a href="/">Home</a></li>
                            <li class="active">Contact Us</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-main">
            <div class="block-section">
                <InformationsContact/>

                <div id="contact" class="contact block-section image-block bg-white">
                    <div class="container-fluid container-no-padding">
                        <div class="row row-no-margin">
                            <div class="groupEdWd-contact-left-section image-block-item col-md-5 col-sm-5 col-xs-12">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2798.0185777341944!2d9.136355915557616!3d45.46942967910096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4786c18281176a6d%3A0x91ebe11ae669bc27!2sVia%20Daniele%20Ricciarelli%2C%2031%2C%2020148%20Milano%20MI!5e0!3m2!1sit!2sit!4v1601539495494!5m2!1sit!2sit"
                                        width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""
                                        aria-hidden="false" tabindex="0"></iframe>
                            </div>
                        </div>
                        <div class="row row-no-margin">
                            <div class="groupEdWd-contact-left-section groupEdWd-contact-last-child image-block-item col-md-5 col-sm-5 col-xs-12">
                                <iframe allowfullscreen=""
                                        aria-hidden="false" frameborder="0" height="450"
                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2651.217729546376!2d10.920854515840327!3d48.35633974387759!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479e981ee759211b%3A0x5ab39f7b048b8fbd!2sWilhelm-Hauff-Stra%C3%9Fe%2023%2C%2086161%20Augsburg%2C%20Germany!5e0!3m2!1sen!2sit!4v1607701079676!5m2!1sen!2sit"
                                        style="border:0;"
                                        tabindex="0" width="600"></iframe>
                            </div>
                        </div>
                    </div>

                    <div class="container clear">
                        <div class="row">
                            <div class="groupEdWd-contact-right-section col-md-6 col-md-offset-6 col-sm-6 col-sm-offset-6 col-xs-10 col-xs-offset-1 padd-20-top padd-60-btm">
                                <form @submit.prevent="contactItem()" @keydown="form.onKeydown($event)"
                                      class="contact-form">
                                    <div class="text-center padd-20-btm">
                                        <h2 class="groupEdWd-red-color">Do you have questions for your future
                                            projects?</h2>
                                        <p>Contact us through this form</p>
                                    </div>
                                    <div class="form-group padd-20-btm">
                                        <label for="name">Last and First Name <span
                                                class="groupEdWd-required">*</span></label>
                                        <input type="text"
                                               v-model="form.name"
                                               class="form-control form-bordered"
                                               name="name"
                                               placeholder="Enter your fullname"
                                               id="name">
                                        <has-error :form="form" class="groupEdWd-required" field="name"/>
                                    </div>
                                    <div class="row padd-20-btm">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="form-label" for="email">E-mail Address <span
                                                        class="groupEdWd-required">*</span></label>
                                                <input type="email"
                                                       v-model="form.email"
                                                       class="form-control form-bordered"
                                                       name="email"
                                                       placeholder="Enter your email adress"
                                                       id="email">
                                                <has-error :form="form" class="groupEdWd-required" field="email"/>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="form-label" for="phone">Phone Number<span
                                                        class="groupEdWd-required">*</span></label>
                                                <input type="number"
                                                       v-model="form.phone"
                                                       class="form-control form-bordered"
                                                       name="phone"
                                                       placeholder="Enter your phone number"
                                                       id="phone">
                                                <has-error :form="form" class="groupEdWd-required" field="phone"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group padd-20-btm">
                                        <label for="subject">Subject Message <span
                                                class="groupEdWd-required">*</span></label>
                                        <input type="text"
                                               v-model="form.subject"
                                               class="form-control form-bordered"
                                               name="subject"
                                               placeholder="Enter the subject"
                                               id="subject">
                                        <has-error :form="form" class="groupEdWd-required" field="subject"/>
                                    </div>
                                    <div class="form-group padd-20-btm">
                                        <label for="message" class="form-label">Message <span
                                                class="groupEdWd-required">*</span></label>
                                        <textarea v-model="form.message"
                                                  class="form-control form-bordered"
                                                  rows="6"
                                                  name="message"
                                                  placeholder="Enter the message"
                                                  id="message">
                                        </textarea>
                                        <has-error :form="form" class="groupEdWd-required" field="message"/>
                                    </div>
                                    <div class="form-group padd-20-btm">
                                        <button type="submit" :disabled="!checkValidation || form.busy"
                                                class="btn btn-lg btn-warning">
                                            <span class="font-weight-bold">Send</span>
                                            <i class="fa fa-long-arrow-right"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <Footer/>
    </div>
</template>

<script>
    import Navbar from "../../layouts/Site/Navbar";
    import Footer from "../../layouts/Site/Footer";
    import InformationsContact from "../Site/inc/InformationsContact";

    export default {
        name: "Contact",
        components: {InformationsContact, Navbar, Footer, InformationsContact},
        data() {
            document.title = `Contact Us | ${this.$name_site}`;
            return {
                form: new Form({
                    name: '',
                    subject: '',
                    message: '',
                    phone: '',
                    email: '',
                }),
                 errors: []
            }
        },
        computed: {
            checkValidation() {
                return (this.form.name && this.form.subject &&
                    this.form.message &&
                    this.form.email) ? true : false;
            }
        },
        methods: {
            contactItem() {
                this.$Progress.start();
                // Submit the form via a POST request
                this.form.busy = true;
                this.form.post('/contact-us/send').then(() => {
                    //Insertion de l'alert !
                    toastr.success('Votre meessage a été envoyé correctement.', '', {timeOut: 5000});
                    //Fin insertion de l'alert !

                    this.form.reset();
                    //End Progress bar

                    this.$Progress.finish();
                }).catch((error) => {
                    this.$Progress.fail();
                    console.log(error.response.data.errors.email);
                    this.errors = error.response.data;
                    toastr.error('The information is incorrect', '', {timeOut: 5000})
                })
            },

        },
        created() {
            this.$Progress.start();
            this.$Progress.finish();
        }
    }
</script>

<style scoped>

</style>
