<template>
    <div>
        <vue-progress-bar />
        <NavbarHome/>
        <InformationsContact />
        <HomeServices />
        <Informations/>
        <WhoWeAre/>
        <Valeurs/>
        <Clients/>
        <Subscribe/>
        <Footer/>
    </div>
</template>

<script>
    import NavbarHome from "../../layouts/Site/NavbarHome";
    import Footer from "../../layouts/Site/Footer";
    import Subscribe from "../Site/inc/Subscribe";
    import InformationsContact from "../Site/inc/InformationsContact";
    import Informations from "../Site/inc/Informations";
    import Clients from "../Site/inc/Clients";
    import Valeurs from "../Site/inc/Valeurs";
    import WhoWeAre from "./inc/WhoWeAre";
    import HomeServices from "../Site/inc/HomeServices";

    export default {
        name: "Home",
        components: {
            WhoWeAre,
            Subscribe, NavbarHome, Footer, Subscribe, InformationsContact, Informations, Clients, Valeurs, HomeServices
        },
         data() {
            document.title = `Ed-Wd Engineering | ${this.$name_site}`;
            return {
                //
            }
        },
        created() {
            this.$Progress.start();
            this.$Progress.finish();
        }
    }
</script>

<style scoped>
    .block-section.bg-theme,
    .content-section.bg-theme {
        background-color: #f2f2f2;
        color: inherit;
    }
</style>
