<template>
    <div>
        <vue-progress-bar />
        <Navbar/>
        <div class="main-title block-section padd-100-top padd-100-btm bg-grey">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="main-title-primary">Our Projects</h1>
                        <h4 class="main-title-secondary">All our consultancy projects</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ol class="breadcrumb">
                            <li><a href="/">Home</a></li>
                            <li class="active">Our Projects</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-main">
            <div class="content-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="blog-entry-content" v-if="projects.length == 0">
                                <div class="container text-center">
                                    <EmptyServices :title="'Projects'"></EmptyServices>
                                </div>
                            </div>
                            <div class="entry-content" v-else>
                                <ul class="work-filter">
                                    <li class="active" data-filter="*"><a href="#">All works</a></li>
                                    <li v-for="item in categoryprojects" :key="item.id" :data-filter="`.${item.slug}`">
                                        <a :href="`#${item.slug}`">{{item.name}}</a>
                                    </li>
                                </ul>
                                <ul class="work-grid">
                                    <li :class="`work-item ${item.categoryproject.slug}`" :key="item.id"
                                        v-for="item in projects" v-if="item.categoryproject.status">
                                        <a :href="item.photo" :title="item.categoryproject.name"
                                           class="image-lightbox">
                                            <div class="work-item-image">
                                                <img :src="item.photo" :alt="item.categoryproject.name">
                                            </div>
                                            <div class="work-item-info">
                                                <h4 class="work-item-title">{{ item.title }}</h4>
                                                <span class="work-item-desc">{{ item.categoryproject.name }}</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <Footer/>
    </div>
</template>

<script>
    import Navbar from "../../layouts/Site/Navbar";
    import Footer from "../../layouts/Site/Footer";
    import EmptyServices from "./inc/EmptyServices";

    export default {
        name: "Projects",
        components: {EmptyServices, Navbar, Footer},
        data() {
            document.title = `Our Projects | ${this.$name_site}`;
            return {
                categoryprojects:[],
                projects:[],
            }
        },
        created() {
            this.$Progress.start();
            dyaxios.get(route('api.categoryprojects')).then(({data}) => (this.categoryprojects = data));
            dyaxios.get(route('api.projects')).then(({data}) => (this.projects = data));
            this.$Progress.finish();
        }
    }
</script>

<style scoped>

</style>
