<template>
    <div>
        <vue-progress-bar/>
        <Navbar/>
        <div class="main-title block-section padd-100-top padd-100-btm bg-grey">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="main-title-primary">Our Services</h1>
                        <h4 class="main-title-secondary">All our consultancy services</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ol class="breadcrumb">
                            <li><a href="/">Home</a></li>
                            <li class="active">Our Services</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-main">
            <div class="content-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="sidebar site-sidebar">
                                
                                <ULSiteCategoryservice />

                                <!-- <div class="widget widget_brocure">
                                    <h3 class="widget-title">Brocure</h3>
                                    <ul class="nav nav-pills nav-stacked">
                                        <li role="presentation" class="active"><a href="#"><i
                                                class="fa fa-file-pdf-o"></i> <span>Download .PDF</span></a></li>
                                        <li role="presentation"><a href="#"><i class="fa fa-file-word-o"></i> <span>Download .DOC</span></a>
                                        </li>
                                    </ul>
                                </div> -->
                            </div>
                        </div>

                        <div class="col-md-9">
                            <div class="text-center" v-if="services.length == 0">
                                <EmptyServices :title="'Services'"></EmptyServices>
                            </div>
                            <div class="entry-content" v-else>
                                <div class="row">
                                    <div :key="item.id" class="col-sm-4" v-for="item in services"
                                         v-if="item.categoryservice.status">
                                        <div class="blog-entry">
                                            <a :href="`/services/${item.categoryservice.slug}/${item.slug}`"
                                               class="blog-entry-thumbnail">
                                                <img :src="item.photo"
                                                     :alt="item.categoryservice.slug" class="img-responsive">
                                            </a>
                                            <div class="blog-entry-header">
                                                <h2 class="entry-title text-center"><a
                                                        :href="`/services/${item.categoryservice.slug}/${item.slug}`"
                                                        rel="bookmark">{{item.title.length > 20 ?
                                                    item.title.substring(0, 20) + '...' : item.title}}</a></h2>
                                            </div>
                                            <div class="blog-entry-content">
                                                <p class="text-left">{{item.description | striphtml}}</p>
                                                <p><a :href="`/services/${item.categoryservice.slug}/${item.slug}`"
                                                      class="read-more">Read More +</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <Footer/>
    </div>
</template>

<script>
    import Navbar from "../../layouts/Site/Navbar";
    import Footer from "../../layouts/Site/Footer";
    import ULSiteCategoryservice from "../../layouts/Site/inc/ULSiteCategoryservice";
    import EmptyServices from "./inc/EmptyServices";

    export default {
        name: "Services",
        components: {EmptyServices, ULSiteCategoryservice, Navbar, Footer},
        data() {
            document.title = `Our Services | ${this.$name_site}`;
            return {
                loaded: false,
                services:[],
            }
        },
        methods: {
            loadData() {
                dyaxios.get(route('api.services')).then(({data}) => (this.services = data));
            }
        },
        created() {
            this.$Progress.start();
            this.loadData();
            this.$Progress.finish();
        }
    }
</script>

<style scoped>

</style>
