<template>
    <div class="wrapper">
        <vue-progress-bar/>
        <Navbar/>
        <div class="main-panel" id="main-panel">
            <NavTop/>
            <div class="panel-header">
                <div class="header text-center">
                    <h2 class="title">{{this.form.title || "New Privacy"}}</h2>
                </div>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body my-5 mr-5 ml-5">
                                <div class="toolbar">
                                </div>

                                <form @keydown="form.onKeydown($event)" @submit.prevent="createItem()"
                                      accept-charset="UTF-8" action="" method="POST" role="form">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="labels">
                                                Title Privacy
                                                <span class="text-danger font-weight-bold">*</span>
                                            </label>
                                            <div class="form-group">
                                                <label class="bmd-label-floating"></label>
                                                <input :class="{ 'is-invalid': form.errors.has('title') }"
                                                       class="form-control" name="title" placeholder="Title Privacy"
                                                       type="text" v-model="form.title"/>
                                                <has-error :form="form" field="title"></has-error>
                                            </div>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row mb-5">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="labels">
                                                    Description Privacy
                                                    <span class="text-danger font-weight-bold">*</span>
                                                </label>
                                                <quill-editor
                                                        :class="{ 'is-invalid': form.errors.has('description') }"
                                                        :options="editorOption"
                                                        name="description"
                                                        v-model="form.description">
                                                </quill-editor>
                                                <has-error :form="form" field="description"
                                                           v-if="descriptionError"></has-error>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="submit">
                                        <div class="text-center my-4">
                                            <router-link :to="{ name: 'politiquesites.index' }"
                                                         class="btn btn-secondary btn-raised">
                                                <i class="now-ui-icons arrows-1_minimal-left"></i>
                                                <b class="title_hover">Annuler</b>
                                            </router-link>
                                            <button :disabled="form.busy" class="btn btn-success btn-raised"
                                                    type="submit">
                                                <i class="now-ui-icons ui-1_check"></i>
                                                <b class="title_hover">Save</b>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <Footer/>
        </div>
    </div>
</template>

<script>
    import NavTop from "../../../layouts/Dashboard/NavTop";
    import Navbar from "../../../layouts/Dashboard/Navbar";
    import Footer from "../../../layouts/Dashboard/Footer";

    export default {
        name: "PolitiquesiteCreateDashboard.vue",
        components: {NavTop, Navbar, Footer},
        data() {
            document.title = `New Privacy Dashboard - ${this.$name_site}`;

            return {
                descriptionError: false,
                user: {},
                form: new Form({
                    title: '',
                    description: '',
                }),
                editorOption: {
                    // some quill options
                    modules: {
                        toolbar: [
                            [{'font': []}],
                            [{'size': ['small', false, 'large', 'huge']}],
                            ['bold', 'italic', 'underline'],
                            [{'list': 'ordered'}, {'list': 'bullet'}],
                            [{'align': []}],
                            [{'color': []}, {'background': []}],
                            ['clean']
                        ]
                    }
                }
            };
        },
        methods: {
            createItem() {
                //Start Progress bar
                this.$Progress.start();
                this.form.busy = true;
                // Submit the form via a POST request
                this.form.post("/dashboard/politiquesites")
                    .then(() => {
                        $.notify(
                            {
                                message: `Privacy saved successfully.`,
                            },
                            {
                                allow_dismiss: false,
                                type: 'info',
                                placement: {
                                    from: 'top',
                                    align: 'right'
                                },
                                animate: {
                                    enter: "animated fadeInDown",
                                    exit: "animated fadeOutUp"
                                },
                            });

                        this.$router.push({name: 'politiquesites.index'});
                        //End Progress bar
                        this.$Progress.finish();
                    }).catch(() => {
                    this.descriptionError = this.form.description.length == 0 ? true : false;
                    //Failled message
                    this.$Progress.fail();
                    $.notify("Ooop! Something wrong. Try later", {
                        type: 'danger',
                        animate: {
                            enter: 'animated bounceInDown',
                            exit: 'animated bounceOutUp'
                        }
                    });
                })
            }
        },
        created() {
            //
        },
    }
</script>

<style scoped>

</style>
