<template>
  <div class="wrapper">
    <vue-progress-bar />
    <Navbar />
    <div class="main-panel" id="main-panel">
      <NavTop />
      <div class="panel-header">
        <div class="header text-center">
          <h2 class="title">{{ this.form.title || "Edit Services" }}</h2>
        </div>
      </div>
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body my-5 ml-5 mr-5">
                <div class="toolbar"></div>
                <form
                  @submit.prevent="updateItem()"
                  role="form"
                  method="POST"
                  action=""
                  accept-charset="UTF-8"
                  @keydown="form.onKeydown($event)"
                >
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="labels">
                          Title
                          <span class="text-danger font-weight-bold">*</span>
                        </label>
                        <input
                          v-model="form.title"
                          type="text"
                          name="title"
                          minlength="2"
                          maxlength="100"
                          placeholder="Title..."
                          class="form-control"
                          :class="{
                            'is-invalid': form.errors.has('title'),
                          }"
                        />
                        <has-error :form="form" field="title" />
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="labels">
                          Category
                          <span class="text-danger font-weight-bold">*</span>
                        </label>
                        <div class="form-group">
                          <select
                            name="categoryservice_id"
                            v-model="form.categoryservice_id"
                            id="categoryservice_id"
                            class="form-control"
                            required="required"
                            :class="{
                              'is-invalid': form.errors.has(
                                'categoryservice_id'
                              ),
                            }"
                          >
                            <option disabled hidden value="">Choose Category</option>
                            <option
                              v-for="categoryservice in categoryservices"
                              :key="categoryservice.id"
                              :value="categoryservice.id"
                            >
                              {{ categoryservice.name }}
                            </option>
                          </select>
                          <has-error
                            :form="form"
                            field="categoryservice_id"
                          ></has-error>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row my-3">
                    <div class="col-md-8 ml-auto mr-auto">
                      <div class="profile text-center">
                        <br />
                        <div
                          class="fileinput fileinput-new text-center"
                          data-provides="fileinput"
                        >
                          <img class="groupEdWd-datatable-img-placeholder" src="/assets/images/image_placeholder.jpg"
                               v-if="!isSelectedImage"/>
                          <div class="fileinput-new thumbnail">
                            <img :src="this.form.photo" />
                          </div>
                          <div
                            class="fileinput-preview fileinput-exists thumbnail"
                          ></div>
                          <div>
                            <span class="btn btn-raised btn-success btn-file">
                              <span class="fileinput-new groupEdWd-fileinput-pointer"
                                    v-if="!isSelectedImage"
                              >
                                <i class="now-ui-icons design_image"></i>
                                <b>Add Image</b>
                              </span>
                              <span class="groupEdWd-fileinput-pointer"
                                    v-else
                              >
                                <i class="now-ui-icons design_image"></i>
                                <b>Change</b>
                              </span>
                              <input
                                id="photo"
                                @change="updateImage"
                                type="file"
                                class="form-control"
                                :class="{
                                  'is-invalid': form.errors.has('photo'),
                                }"
                                name="photo"
                                accept="image/*"
                              />
                            </span>
                            <span @click="removeImg()"
                                  class="btn btn-danger groupEdWd-fileinput-pointer"
                                  data-dismiss="fileinput"
                                  v-if="isSelectedImage"
                            >
                              <i class="now-ui-icons ui-1_simple-remove"></i>
                              <b>Remove</b>
                            </span>
                          </div>
                        </div>
                        <has-error :form="form" class="groupEdWd-invalid-feedback" field="photo" v-if="photoError"/>
                      </div>
                    </div>
                  </div>
                  <br />
                  <div class="row mb-5">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="labels">
                          Description
                          <span class="text-danger font-weight-bold">*</span>
                        </label>
                        <quill-editor
                                :class="{
                            'is-invalid': form.errors.has('description'),
                          }"
                                :options="editorOption"
                                name="description"
                                v-model="form.description"
                        >
                        </quill-editor>
                        <has-error :form="form" field="description"></has-error>
                      </div>
                    </div>
                  </div>
                  <hr />
                  <div class="submit">
                    <div class="text-center my-4">
                      <router-link
                              :to="{ name: 'servicesites.index' }"
                              class="btn btn-secondary btn-raised">
                        <i class="now-ui-icons arrows-1_minimal-left"></i>
                        <b class="title_hover">Cancel</b>
                      </router-link>
                      <button
                              :disabled="form.busy"
                              class="btn btn-success btn-raised"
                              type="submit">
                        <i class="now-ui-icons ui-1_check"></i>
                        <b class="title_hover">Update</b>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <Footer />
    </div>
  </div>
</template>

<script>
    import NavTop from "../../../layouts/Dashboard/NavTop";
    import Navbar from "../../../layouts/Dashboard/Navbar";
    import Footer from "../../../layouts/Dashboard/Footer";

    export default {
  name: "Dashboard",
  components: { NavTop, Navbar, Footer },
  data() {
    document.title = `Edit Service Dashboard - ${this.$name_site}`;

    return {
      user: {},
      categoryservices: {},
      isSelectedImage: true,
      photoError: false,
      form: new Form({
        id: "",
        slugin:"",
        title: "",
        description: "",
        categoryservice_id: "",
        photo: "",
      }),
      editorOption: {
        // some quill options
        modules: {
          toolbar: [
            [{ font: [] }],
            [{ size: ["small", false, "large", "huge"] }],
            ["bold", "italic", "underline"],
            [{ list: "ordered" }, { list: "bullet" }],
            [{ align: [] }],
            [{ color: [] }, { background: [] }],
            ["clean"],
          ],
        },
      },
    };
  },
  methods: {
    updateImage(e) {
      let reader = new FileReader();
      let file = e.target.files[0];
      if (file["size"] < 6000775) {
        reader.onloadend = (file) => {
          this.form.photo = reader.result;
          this.isSelectedImage = true;
          this.photoError = false;
        };
        reader.readAsDataURL(file);
      } else {
        this.$Progress.fail();
        Swal.fire({
          type: "error",
          title: "Your image is very big. Try another one",
          buttonsStyling: false,
          confirmButtonClass: "btn btn-success",
        });
      }
    },
    removeImg() {
      this.isSelectedImage = false;
      this.photoError = true;
      this.form.photo = '';
    },
    updateItem() {
      //Start Progress bar
      this.$Progress.start();
      this.form.busy = true;

      this.form
        .put(`/dashboard/servicesites/${this.form.slugin}`)
        .then(() => {
          $.notify(
            {
              message: `Service updated successfully.`,
            },
            {
              allow_dismiss: false,
              type: "info",
              placement: {
                from: "top",
                align: "right",
              },
              animate: {
                enter: "animated fadeInDown",
                exit: "animated fadeOutUp",
              },
            }
          );

          this.$router.push({name: 'servicesites.index'});
          //End Progress bar
          this.$Progress.finish();
        })
        .catch(() => {
          //Failled message
          this.$Progress.fail();
          //Alert
          $.notify("Ooop! Something wrong. Try later", {
            type: "danger",
            animate: {
              enter: "animated bounceInDown",
              exit: "animated bounceOutUp",
            },
          });
        });
    },
  },
  mounted() {
    dyaxios
        .get(route("api.dashboard.categoryservices"))
      .then(({ data }) => (this.categoryservices = data));
    this.$Progress.start();
    let Itemservicesite = this.$route.params.servicesite;
    dyaxios
      .get(route("servicesites.show", [Itemservicesite]))
      .then(({ data }) => {
        this.loaded = true;
        this.form.fill(data);
      });
    this.$Progress.finish();
  },
};
</script>

<style scoped>
</style>
