<template>
  <div class="wrapper">
    <vue-progress-bar />
    <Navbar />
    <div class="main-panel" id="main-panel">
      <NavTop />
      <div class="panel-header">
        <div class="header text-center">
            <h2 class="title">{{this.form.title || "New Faq"}}</h2>
        </div>
      </div>
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body my-5 ml-5 mr-5">
                            <div class="toolbar">
                            </div>

                            <form @submit.prevent="createItem()" role="form"
                                  method="POST" action="" accept-charset="UTF-8" @keydown="form.onKeydown($event)">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="labels">
                                            Title Faq
                                            <span class="text-danger font-weight-bold">*</span>
                                        </label>
                                        <div class="form-group">
                                            <label class="bmd-label-floating"></label>
                                            <input v-model="form.title" type="text" name="title" placeholder="Title Faq" class="form-control" :class="{ 'is-invalid': form.errors.has('title') }"/>
                                            <has-error :form="form" field="title"></has-error>
                                        </div>
                                    </div>
                                </div>
                                <br/>
                                <div class="row mb-5">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="labels">
                                                Description Faq
                                                <span class="text-danger font-weight-bold">*</span>
                                            </label>
                                            <quill-editor
                                                    name="description"
                                                    v-model="form.description"
                                                          :class="{ 'is-invalid': form.errors.has('description') }"
                                                          :options="editorOption">
                                            </quill-editor>
                                            <has-error :form="form" field="description"
                                                       v-if="descriptionError"></has-error>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="submit">
                                    <div class="text-center">
                                        <router-link :to="{ name: 'faqs.index' }" class="btn btn-secondary btn-raised">
                                            <i class="now-ui-icons arrows-1_minimal-left"></i>
                                            <b class="title_hover">Annuler</b>
                                        </router-link>
                                        <button  :disabled="form.busy" type="submit" class="btn btn-success btn-raised">
                                            <i class="now-ui-icons ui-1_check"></i>
                                            <b class="title_hover">Save</b>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <Footer/>
    </div>
  </div>
</template>

<script>
    import NavTop from "../../../layouts/Dashboard/NavTop";
    import Navbar from "../../../layouts/Dashboard/Navbar";
    import Footer from "../../../layouts/Dashboard/Footer";

    export default {
  name: "Dashboard",
  components: { NavTop, Navbar, Footer },
  data() {
      document.title = `New Faq Dashboard - ${this.$name_site}`;

      return {
        user: {},
          descriptionError: false,
        form: new Form({
            title: '',
            description: '',
        }),
        editorOption: {
            // some quill options
            modules: {
                toolbar: [
                    [{ 'font': [] }],
                    [{ 'size': ['small', false, 'large', 'huge'] }],
                    ['bold', 'italic', 'underline'],
                    [{'list': 'ordered'}, {'list': 'bullet'}],
                    [{ 'align': [] }],
                    [{ 'color': [] }, { 'background': [] }],
                    ['clean']
                ]
            }
        }
    };
  },
  methods: {
      createItem() {
          //Start Progress bar
          this.$Progress.start();
          this.form.busy = true;
          // Submit the form via a POST request
          this.form.post("/dashboard/faqs")
              .then(() => {
                  $.notify(
                      {
                          message: `Faq saved successfully.`,
                      },
                      {
                          allow_dismiss: false,
                          type: 'info',
                          placement: {
                              from: 'top',
                              align: 'right'
                          },
                          animate: {
                              enter: "animated fadeInDown",
                              exit: "animated fadeOutUp"
                          },
                      });

                  this.$router.push({ name: 'faqs.index' });
                  //End Progress bar
                  this.$Progress.finish();
              }).catch(() => {
              //Failled message
              this.$Progress.fail();
              this.descriptionError = this.form.description.length == 0 ? true : false;
              $.notify("Ooop! Something wrong. Try later", {
                  type: 'danger',
                  animate: {
                      enter: 'animated bounceInDown',
                      exit: 'animated bounceOutUp'
                  }
              });
          })
      }
  },
  created() {
   //
  },
};
</script>

<style scoped>
</style>
