<template>
    <div>
        <vue-progress-bar/>
        <Navbar/>
        <div class="main-title block-section padd-100-top padd-100-btm bg-grey">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="main-title-primary">Our Faqs</h1>
                        <h4 class="main-title-secondary">Frequently Asked Questions</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ol class="breadcrumb">
                            <li><a href="/">Home</a></li>
                            <li class="active">Our Faqs</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="site-main">
            <div class="content-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="entry-content">
                                <article class="blog-entry">
                                    <div class="blog-entry-content">
                                        <div class="section-title marg-20-top">
                                            <h3>You have questions?</h3>
                                        </div>
                                        <div class="container text-center" v-if="faqs.length == 0">
                                            <EmptyServices :title="'Faqs'"></EmptyServices>
                                        </div>
                                        <div class="panel-group" id="accordion" role="tablist" v-else
                                             aria-multiselectable="true">
                                           <div v-for="item in faqs" :key="item.id" class="panel panel-default">
                                                <div class="panel-heading" role="tab" :id="`heading${item.id}`">
                                                    <h4 class="panel-title">
                                                         <a class="collapsed" role="button" data-toggle="collapse"
                                                           data-parent="#accordion" :href="`#collapse${item.id}`"
                                                           aria-expanded="false" :aria-controls="`collapse${item.id}`">
                                                               {{item.title}}
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div :id="`collapse${item.id}`" class="panel-collapse collapse" role="tabpanel"
                                                     :aria-labelledby="`heading${item.id}`">
                                                    <div class="panel-body text-justify"
                                                         v-html="item.description"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="groupEdWd-content-section bg-theme">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-md-12">
                            <h3>Have additional questions? Contact EdWd Engineering directly today.
                            </h3>
                            <div class="marg-20-top">
                                <a class="groupEdWd-button-hover-warning button" href="/contact-us">
                                    Contact Us
                                    <i class="fa fa-long-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <Footer/>
    </div>
</template>

<script>
    import Navbar from "../../../layouts/Site/Navbar";
    import Footer from "../../../layouts/Site/Footer";
    import EmptyServices from "../inc/EmptyServices";

    export default {
        name: "Faqs",
        components: {EmptyServices, Navbar, Footer},
        data() {
            return {
                faqs:{},
            }
        },
        methods: {

        loadData() {

        axios.get("/api/nos-faqs").then((response) => {
            this.faqs = response.data;});}
        
        },

        created() {
            this.$Progress.start();
            this.loadData();
            this.$Progress.finish();
        }
    }
</script>

<style scoped>

</style>
