<template>
    <div>
        <vue-progress-bar/>
        <Navbar/>
        <div class="main-title block-section padd-100-top padd-100-btm bg-grey">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="main-title-primary">Our Privacy Policies</h1>
                        <h4 class="main-title-secondary">All our Privacy Policies</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ol class="breadcrumb">
                            <li><a href="/">Home</a></li>
                            <li class="active">Our Privacy Policies</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="site-main">
            <div class="content-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="entry-content">
                                <article class="blog-entry">
                                    <div class="blog-entry-content">
                                        <div class="container text-center" v-if="privacies.length == 0">
                                            <EmptyServices :title="'Privacy Policies'"></EmptyServices>
                                        </div>
                                        <div v-else>
                                            <div :key="item.id" class="" v-for="item in privacies">
                                                <div class="section-title marg-20-top">
                                                    <h3 class="groupEdWd-red-color">{{item.title}}</h3>
                                                </div>
                                                <p class="text-justify" v-html="item.description"></p>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <Footer/>
    </div>
</template>

<script>
    import Navbar from "../../../layouts/Site/Navbar";
    import Footer from "../../../layouts/Site/Footer";
    import EmptyServices from "../inc/EmptyServices";

    export default {
        name: "PrivaciesPolicies",
        components: {EmptyServices, Navbar, Footer},
        data() {
            document.title = `Nos Politiques de Confidentialités | ${this.$name_site}`;
            return {
                privacies: {},
            }
        },
        methods: {
            loadData() {
                axios.get("/api/nos-politiques").then((response) => {
                    this.privacies = response.data;
                });
            }
        },
        created() {
            this.$Progress.start();
            this.loadData();
            this.$Progress.finish();
        }
    }
</script>

<style scoped>

</style>
