<template>
  <div class="wrapper">
    <vue-progress-bar />
    <Navbar />
    <div class="main-panel" id="main-panel">
      <NavTop />
      <div class="panel-header">
        <div class="header text-center">
            <h2 class="title">All Projects</h2>
          <p class="category">
              <a href="/nos-projects" target="_blank">
                  Navigate to Projects
                  <i class="now-ui-icons arrows-1_minimal-right"></i>
              </a>
          </p>
        </div>
      </div>
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
                <div class="card-body my-5">
                <div class="toolbar">
                  <div class="submit text-center">
                      <router-link
                              :to="{ name: 'projectsites.create' }"
                              class="btn btn-primary btn-raised"
                    >
                      <i class="now-ui-icons ui-1_simple-add"></i>
                          <b class="title_hover">New Project</b>
                      </router-link>
                  </div>
                </div>
                <table
                        cellspacing="0"
                        class="table table-striped table-bordered groupEdWd-datatable"
                        id="datatable"
                >
                  <thead>
                    <tr>
                        <th><b>Project Image</b></th>
                        <th><b>Project Title</b></th>
                      <th><b>Status</b></th>
                        <th><b>Project Category</b></th>
                        <th><b>Created Date</b></th>
                      <th class="disabled-sorting text-right">Actions</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                        <th><b>Project Image</b></th>
                        <th><b>Project Title</b></th>
                        <th><b>Status</b></th>
                        <th><b>Project Category</b></th>
                        <th><b>Created Date</b></th>
                      <th class="disabled-sorting text-right">Actions</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    <tr v-for="item in projects" :key="item.id">
                      <td>
                        <img
                                :src="item.photo"
                                class="groupEdWd-datatable-img"
                        />
                      </td>
                      <td>
                        {{
                          (item.title.length > 30
                            ? item.title.substring(0, 30) + "..."
                            : item.title) | upText
                        }}
                      </td>
                      <td>
                        <div class="timeline-heading">
                          <span v-if="item.status" class="badge badge-success"
                          ><b>Activate</b></span
                          >
                          <span
                            v-else-if="!item.status"
                            class="badge badge-danger"
                          ><b>Deactivate</b></span
                          >
                        </div>
                      </td>
                      <td v-if="item.categoryproject_id !== null">{{ item.categoryproject.name }}</td>
                      <td v-else>No user</td>
                      <td>
                        <b>{{ item.created_at | dateAgo }}</b>
                      </td>
                      <td class="text-right">
                        <template>
                          <button
                                  @click="statusItem(item)"
                                  class="btn btn-round btn-success btn-icon btn-sm remove"
                                  title="Desactivate Project"
                                  type="button"
                                  v-if="item.status"
                          >
                            <i class="now-ui-icons ui-1_check" />
                          </button>
                          <button
                                  @click="statusItem(item)"
                                  class="btn btn-round btn-danger btn-icon btn-sm remove"
                                  title="Activate Project"
                                  type="button"
                                  v-else
                          >
                            <i class="now-ui-icons ui-1_simple-delete" />
                          </button>
                        </template>

                          <router-link
                                  :to="{ name: 'projectsites.edit', params: { projectsite: item.slugin } }"
                                  class="btn btn-round btn-info btn-icon btn-sm edit"
                                  title="Edit Project"
                        >
                          <i class="far fa-edit"></i>
                          </router-link>

                          <button
                                  @click="deleteItem(item)"
                                  class="btn btn-round btn-danger btn-icon btn-sm remove"
                                  title="Delete Project"
                        >
                          <i class="fas fa-times"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
        <Footer/>
    </div>
  </div>
</template>

<script>
    import NavTop from "../../../layouts/Dashboard/NavTop";
    import Navbar from "../../../layouts/Dashboard/Navbar";
    import Footer from "../../../layouts/Dashboard/Footer";

    export default {
  name: "Dashboard",
  components: { NavTop, Navbar, Footer },
  data() {
      document.title = `Projects Dashboard - ${this.$name_site}`;
    return {
        isSelectedImage: false,
      projects: {},
      categoryprojects:{},
      editmode: false,
      form: new Form({
        id: "",
        title: "",
        description:'',
        photo: "",
        categoryproject_id: "",
      }),
    };
  },
  methods: {
    mydatatables() {
      $(function () {
        $("#datatable").DataTable({
          pagingType: "full_numbers",
          lengthMenu: [
            [10, 25, 50, -1],
            [10, 25, 50, "All"],
          ],
          responsive: true,
          retrieve: true,
          destroy: true,
          colReorder: true,
          language: {
            searchPlaceholder: "Search Record",
          },
          sPaginationType: "full_numbers",
        });
      });
        f
    },

    updateImage(e) {
      let reader = new FileReader();
      let file = e.target.files[0];
      if (file["size"] < 6000775) {
        reader.onloadend = (file) => {
          this.form.photo = reader.result;
            this.isSelectedImage = true;
        };
        reader.readAsDataURL(file);
      } else {
        this.$Progress.fail();
        Swal.fire({
          type: "error",
            title: "Your image is very big. Try another one",
          buttonsStyling: false,
          confirmButtonClass: "btn btn-success",
        });
      }
    },

    statusItem(item) {
        //Progress bar start
      this.$Progress.start();
        this.message = !item.status ? 'activated ' : 'desactivated ';
        this.message = 'Project ' + this.message + 'successfully.';
      dyaxios
        .post(route("status.projects", [item.id]))
        .then(() => {
          /** Alert notify bootstrapp **/
          $.notify(
            {
                message: this.message,
            },
            {
              allow_dismiss: false,
              type: "info",
              placement: {
                from: "top",
                  align: "right",
              },
              animate: {
                enter: "animated fadeInDown",
                exit: "animated fadeOutUp",
              },
            }
          );
          /** End alert ***/

          //End Progress bar
          this.$Progress.finish();
          Fire.$emit("ItemGetter");
        })
        .catch(() => {
          //Alert error
          $.notify("Ooop! Something wrong. Try later", {
            type: "danger",
            animate: {
              enter: "animated bounceInDown",
              exit: "animated bounceOutUp",
            },
          });
        });
    },

    deleteItem(item) {
      Swal.fire({
          title: "Delete Project",
          text: "Are you sure you want to delete this project?",
        customClass: "animated pulse",
        buttonsStyling: false,
          icon: "error",
        confirmButtonClass: "btn btn-success",
        cancelButtonClass: "btn btn-danger",
          confirmButtonText: "<i class=\"now-ui-icons ui-1_check\"></i> Yes, Delete",
          cancelButtonText: "<i class=\"now-ui-icons ui-1_simple-remove\"></i> No, Cancel",
        showCancelButton: true,
        reverseButtons: true,
      }).then((result) => {
        if (result.value) {
          //Start Progress bar
          this.$Progress.start();

          let index = this.projects.indexOf(item);
          this.projects.splice(index, 1);

          //Envoyer la requete au server
          let url = route("projects.destroy", [item.id]);
          dyaxios
            .delete(url)
            .then(() => {
              /** Alert notify bootstrapp **/
              $.notify(
                {
                    message: "Project deleted successfully.",
                },
                {
                  allow_dismiss: false,
                  type: "success",
                  placement: {
                    from: "top",
                    align: "right",
                  },
                }
              );
              /* End alert ***/
              //End Progress bar
              this.$Progress.finish();

              Fire.$emit("ItemGetter");
            })
            .catch(() => {
              this.$Progress.fail();
              //Alert error
              $.notify("Ooop! Something wrong. Try later", {
                type: "danger",
                animate: {
                  enter: "animated bounceInDown",
                  exit: "animated bounceOutUp",
                },
              });
            });
        }
      });
    },

    loadItems() {
      //Start Progress bar
      this.$Progress.start();
      dyaxios.get(route("api.dashboard_projects")).then((response) => {
        this.projects = response.data;
        this.mydatatables();
      });
      //End Progress bar
      this.$Progress.finish();
    },
  },

  created() {
    dyaxios.get(route('api.dashboard_categoryprojects')).then(({data}) => (this.categoryprojects = data));
    this.loadItems();
    Fire.$on("ItemGetter", () => {
      this.loadItems();
    });
  },
};
</script>

<style scoped>
</style>
