<template>
  <div class="wrapper">
    <vue-progress-bar />
    <Navbar />
    <div class="main-panel" id="main-panel">
      <NavTop />
      <div class="panel-header">
        <div class="header text-center">
            <h2 class="title">All Newsletters</h2>
          <p class="category">
              <a href="/" target="_blank">
                  Navigate to Home
                  <i class="now-ui-icons arrows-1_minimal-right"></i>
              </a>
          </p>
        </div>
      </div>
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
                <div class="card-body my-5">
                <div class="toolbar">
                 
                </div>
                <table
                        id="datatable"
                        cellspacing="0"
                        class="table table-striped table-bordered groupEdWd-datatable">
                  <thead>
                    <tr>
                        <th>Email Address</th>
                        <th>IP Address</th>
                        <th>Send Date</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                        <th>Email Address</th>
                        <th>IP Address</th>
                        <th>Send Date</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    <tr v-for="item in newsletters" :key="item.id">
                      <td>
                        {{
                          (item.email.length > 30
                            ? item.email.substring(0, 30) + "..."
                            : item.email)
                        }}
                      </td>
                      <td>{{ item.ip }}</td>
                      <td>
                        <b>{{ item.created_at | dateAgo }}</b>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
        <Footer/>
    </div>
  </div>
</template>

<script>
    import NavTop from "../../../layouts/Dashboard/NavTop";
    import Navbar from "../../../layouts/Dashboard/Navbar";
    import Footer from "../../../layouts/Dashboard/Footer";

    export default {
  name: "Dashboard",
  components: { NavTop, Navbar, Footer },
  data() {
    document.title = `Newsletters Dashboard - ${this.$name_site}`;
    return {
      loaded: false,
      newsletters: {},
    };
  },
  methods: {
    mydatatables() {
      $(function () {
        $("#datatable").DataTable({
          pagingType: "full_numbers",
          lengthMenu: [
            [10, 25, 50, -1],
            [10, 25, 50, "All"],
          ],
          responsive: true,
          retrieve: true,
          destroy: true,
          colReorder: true,
          language: {
            searchPlaceholder: "Search Record",
          },
          sPaginationType: "full_numbers",
        });
      });
    },

    loadItems() {
      //Start Progress bar
      this.$Progress.start();
      dyaxios.get(route('api.dashboard_newsletters')).then((response) => {
        this.loaded = true;
        this.newsletters = response.data;
        this.mydatatables();
      });
      //End Progress bar
      this.$Progress.finish();
    },
  },

  created() {
    this.loadItems();
    Fire.$on("ItemGetter", () => {
      this.loadItems();
    });
  },
};
</script>

<style scoped>
</style>
