<template>
    <div class="wrapper">
        <vue-progress-bar/>
        <Navbar/>
        <div class="main-panel" id="main-panel">
            <NavTop/>
            <div class="panel-header">
                <div class="header text-center">
                    <h2 class="title">All Categories Services</h2>
                    <p class="category">
                        <a target="_blank" href="/nos-services">
                            Navigate to Services
                            <i class="now-ui-icons arrows-1_minimal-right"></i>
                        </a>
                    </p>
                </div>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body my-5">
                                <div class="toolbar">
                                    <div class="submit text-center my-2">
                                        <button
                                                class="btn btn-primary btn-raised"
                                                @click="newModal"
                                        >
                                            <i class="now-ui-icons ui-1_simple-add"></i>
                                            <b class="title_hover">New Category Service</b>
                                        </button>
                                    </div>
                                </div>
                                <table
                                        id="datatable"
                                        class="table table-striped table-bordered groupEdWd-datatable"
                                        cellspacing="0"
                                >
                                    <thead>
                                    <tr>
                                        <th><b>Service Name</b></th>
                                        <th><b>Service Label</b></th>
                                        <th><b>Status</b></th>
                                        <th><b>Created Date</b></th>
                                        <th class="disabled-sorting text-right">Actions</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th>Service Name</th>
                                        <th>Service Label</th>
                                        <th>Status</th>
                                        <th>Created Date</th>
                                        <th class="disabled-sorting text-right">Actions</th>
                                    </tr>
                                    </tfoot>
                                    <tbody>
                                    <tr v-for="item in categoryservices" :key="item.id">
                                        <td>
                                            {{
                                            (item.name.length > 30
                                            ? item.name.substring(0, 30) + "..."
                                            : item.name) | upText
                                            }}
                                        </td>
                                        <td>{{ item.label }}</td>
                                        <td>
                                            <div class="timeline-heading">
                          <span v-if="item.status" class="badge badge-success"
                          ><b>Active</b></span
                          >
                                                <span
                                                        v-else-if="!item.status"
                                                        class="badge badge-danger"
                                                ><b>Deactive</b></span
                                                >
                                            </div>
                                        </td>
                                        <td>
                                            <b>{{ item.created_at | dateAgo }}</b>
                                        </td>
                                        <td class="text-right">
                                            <template>
                                                <button
                                                        @click="statusItem(item)"
                                                        v-if="item.status"
                                                        type="button"
                                                        class="btn btn-round btn-success btn-icon btn-sm remove"
                                                        title="Desactivate Service"
                                                >
                                                    <i class="now-ui-icons ui-1_check"/>
                                                </button>
                                                <button
                                                        @click="statusItem(item)"
                                                        v-else
                                                        type="button"
                                                        class="btn btn-round btn-danger btn-icon btn-sm remove"
                                                        title="Activate Service"
                                                >
                                                    <i class="now-ui-icons ui-1_simple-delete"/>
                                                </button>
                                            </template>

                                            <button
                                                    @click="editItem(item)"
                                                    class="btn btn-round btn-info btn-icon btn-sm remove"
                                                    title="Edit Service"
                                            >
                                                <i class="far fa-edit"></i>
                                            </button>
                                            <button
                                                    @click="deleteItem(item)"
                                                    class="btn btn-round btn-danger btn-icon btn-sm remove"
                                                    title="Delete Service"
                                            >
                                                <i class="fas fa-times"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div
                                    class="modal fade"
                                    id="addNew"
                                    tabindex="-1"
                                    role="dialog"
                                    aria-labelledby="addNewLabel"
                                    aria-hidden="true"
                            >
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h6
                                                    v-show="!editmode"
                                                    class="modal-title"
                                                    id="addNewLabel"
                                            >
                                                <b>{{ this.form.name || "Add Category Service" }}</b>
                                            </h6>
                                            <h6
                                                    v-show="editmode"
                                                    class="modal-title"
                                                    id="updateNewLabel"
                                            >
                                                <b>{{ this.form.name }}</b>
                                            </h6>
                                            <button
                                                    type="button"
                                                    class="close"
                                                    data-dismiss="modal"
                                                    aria-label="Close"
                                            >
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form
                                                    @submit.prevent="editmode ? updateItem() : storeItem()"
                                                    role="form"
                                                    method="POST"
                                                    action=""
                                                    accept-charset="UTF-8"
                                                    @keydown="form.onKeydown($event)"
                                            >
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="bmd-label-floating"></label>
                                                            <input
                                                                    v-model="form.name"
                                                                    type="text"
                                                                    name="name"
                                                                    minlength="2"
                                                                    maxlength="100"
                                                                    placeholder="Service Name"
                                                                    class="form-control"
                                                                    :class="{
                                  'is-invalid': form.errors.has('name'),
                                }"
                                                            />
                                                            <has-error :form="form" field="name"/>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="bmd-label-floating"></label>
                                                            <input
                                                                    v-model="form.label"
                                                                    type="text"
                                                                    name="label"
                                                                    minlength="2"
                                                                    maxlength="100"
                                                                    placeholder="Service Label"
                                                                    class="form-control"
                                                                    :class="{
                                  'is-invalid': form.errors.has('label'),
                                }"
                                                            />
                                                            <has-error :form="form" field="label"/>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="text-center my-4">
                                                    <button
                                                            type="button"
                                                            class="btn btn-secondary btn-raised"
                                                            data-dismiss="modal"
                                                    >
                            <span class="btn-label">
                              <i class="now-ui-icons ui-1_simple-remove"></i>
                              <b>Close</b>
                            </span>
                                                    </button>
                                                    <button
                                                            :disabled="form.busy"
                                                            v-show="!editmode"
                                                            type="submit"
                                                            class="btn btn-success btn-raised"
                                                    >
                            <span class="btn-label">
                              <i class="now-ui-icons ui-1_check"></i>
                              <b>Save</b>
                            </span>
                                                    </button>
                                                    <button
                                                            :disabled="form.busy"
                                                            v-show="editmode"
                                                            type="submit"
                                                            class="btn btn-success btn-raised"
                                                    >
                            <span class="btn-label">
                              <i class="now-ui-icons ui-1_check"></i>
                              <b>Update</b>
                            </span>
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <Footer/>
        </div>
    </div>
</template>

<script>
    import NavTop from "../../../layouts/Dashboard/NavTop";
    import Navbar from "../../../layouts/Dashboard/Navbar";
    import Footer from "../../../layouts/Dashboard/Footer";

    export default {
        name: "Dashboard",
        components: {NavTop, Navbar, Footer},
        data() {
            document.title = `Categories Services Dashboard - ${this.$name_site}`;
            return {
                loaded: false,
                categoryservices: {},
                editmode: false,
                message: '',
                form: new Form({
                    id: "",
                    label: "",
                    name: "",
                }),
            };
        },
        methods: {
            mydatatables() {
                $(function () {
                    $("#datatable").DataTable({
                        pagingType: "full_numbers",
                        lengthMenu: [
                            [10, 25, 50, -1],
                            [10, 25, 50, "All"],
                        ],
                        responsive: true,
                        retrieve: true,
                        destroy: true,
                        colReorder: true,
                        language: {
                            searchPlaceholder: "Search Record",
                        },
                        sPaginationType: "full_numbers",
                    });
                });
            },

            editItem(item) {
                this.editmode = true;
                this.form.reset();
                //Masquer le modal après la création
                $("#addNew").modal("show");
                //On passe les information
                this.form.fill(item);
            },
            newModal() {
                this.editmode = false;
                this.form.reset();
                //Masquer le modal après la création
                $("#addNew").modal("show");
            },

            storeItem() {
                this.$Progress.start();
                // Submit the form via a POST request
                this.form
                    .post("/api/dashboard/categoryservices")
                    .then(() => {
                        //Masquer le modal après la création
                        $("#addNew").modal("hide");

                        //Insertion de l'alert !
                        $.notify(
                            {
                                message: `Category created successfully.`,
                            },
                            {
                                allow_dismiss: false,
                                type: "info",
                                placement: {
                                    from: "top",
                                    align: "right",
                                },
                                animate: {
                                    enter: "animated fadeInDown",
                                    exit: "animated fadeOutUp",
                                },
                            }
                        );
                        //Fin insertion de l'alert !

                        //End Progress bar
                        this.$Progress.finish();

                        Fire.$emit("ItemGetter");
                    })
                    .catch(() => {
                        //Failled message
                        this.$Progress.fail();
                        //Alert error
                        $.notify("Ooop! Something wrong. Try later", {
                            type: "danger",
                            animate: {
                                enter: "animated bounceInDown",
                                exit: "animated bounceOutUp",
                            },
                        });
                    });
            },

            updateItem() {
                //Start Progress bar
                this.$Progress.start();
                this.form
                    .put(`/api/dashboard/categoryservices/${this.form.id}`)
                    .then(() => {
                        //Masquer le modal après la création
                        $("#addNew").modal("hide");
                        //Event
                        Fire.$emit("ItemGetter");

                        /** Debut de l'alert **/
                        $.notify(
                            {
                                message: `Category updated successfully.`,
                            },
                            {
                                allow_dismiss: false,
                                type: "info",
                                placement: {
                                    from: "top",
                                    align: "right",
                                },
                                animate: {
                                    enter: "animated fadeInDown",
                                    exit: "animated fadeOutUp",
                                },
                            }
                        );
                        /** Fin alert **/

                        //End Progress bar
                        this.$Progress.finish();
                    })
                    .catch(() => {
                        //Failled message
                        this.$Progress.fail();
                        //Alert error
                        $.notify("Ooop! Something wrong. Try later", {
                            type: "danger",
                            animate: {
                                enter: "animated bounceInDown",
                                exit: "animated bounceOutUp",
                            },
                        });
                    });
            },

            statusItem(item) {
                //Start Progress bar
                this.$Progress.start();
                this.message = (item.status === 0) ? 'activated ' : 'desactivated ';
                this.message = 'Category ' + this.message + 'successfully.';
                dyaxios
                    .post(route("status.categoryservices", [item.id]))
                    .then(() => {
                        /** Alert notify bootstrapp **/
                        $.notify(
                            {
                                message: this.message,
                            },
                            {
                                allow_dismiss: false,
                                type: "info",
                                placement: {
                                    from: "top",
                                    align: "right",
                                },
                                animate: {
                                    enter: "animated fadeInDown",
                                    exit: "animated fadeOutUp",
                                },
                            }
                        );
                        /** End alert ***/

                        //End Progress bar
                        this.$Progress.finish();
                        Fire.$emit("ItemGetter");
                    })
                    .catch(() => {
                        //Alert error
                        $.notify("Ooop! Something wrong. Try later", {
                            type: "danger",
                            animate: {
                                enter: "animated bounceInDown",
                                exit: "animated bounceOutUp",
                            },
                        });
                    });
            },

            deleteItem(item) {
                Swal.fire({
                    title: "Delete Category Service",
                    text: "Are you sure you want to delete this category?",
                    customClass: "animated pulse",
                    icon: 'error',
                    buttonsStyling: false,
                    confirmButtonClass: "btn btn-success",
                    cancelButtonClass: "btn btn-danger",
                    confirmButtonText: "<i class=\"now-ui-icons ui-1_check\"></i> Yes, Delete",
                    cancelButtonText: "<i class=\"now-ui-icons ui-1_simple-remove\"></i> No, Cancel",
                    showCancelButton: true,
                    reverseButtons: true,
                }).then((result) => {
                    if (result.value) {
                        //Start Progress bar
                        this.$Progress.start();

                        let index = this.categoryservices.indexOf(item);
                        this.categoryservices.splice(index, 1);

                        //Envoyer la requete au server
                        let url = route("categoryservices.destroy", [item.id]);
                        dyaxios
                            .delete(url)
                            .then(() => {
                                /** Alert notify bootstrapp **/
                                $.notify(
                                    {
                                        message: "Category service deleted successfully.",
                                    },
                                    {
                                        allow_dismiss: false,
                                        type: "success",
                                        placement: {
                                            from: "top",
                                            align: "right",
                                        },
                                    }
                                );
                                /* End alert ***/
                                //End Progress bar
                                this.$Progress.finish();

                                Fire.$emit("ItemGetter");
                            })
                            .catch(() => {
                                this.$Progress.fail();
                                //Alert error
                                $.notify("Ooop! Something wrong. Try later", {
                                    type: "danger",
                                    animate: {
                                        enter: "animated bounceInDown",
                                        exit: "animated bounceOutUp",
                                    },
                                });
                            });
                    }
                });
            },

            loadItems() {
                //Start Progress bar
                this.$Progress.start();
                dyaxios.get(route("api.dashboard_categoryservices")).then((response) => {
                    this.loaded = true;
                    this.categoryservices = response.data;
                    this.mydatatables();
                });
                //End Progress bar
                this.$Progress.finish();
            },
        },

        created() {
            this.loadItems();
            Fire.$on("ItemGetter", () => {
                this.loadItems();
            });
        },
    };
</script>

<style scoped>
</style>
