<template>
    <div id="client" class="client block-section bg-white padd-40-top padd-40-btm">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h2>Our Clients</h2>
                        <p class="groupEdWd-valeurs-subtitle">They trusted us for the realization of their property.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="slider-thumbnail" class="owl-carousel owl-theme client-slider slider-carousel navigation-hide">
                        <div class="item">
                            <a href="#">
                                <img src="/assets/site/images/img-client-01.png" alt="client">
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="/assets/site/images/img-client-02.png" alt="client">
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="/assets/site/images/img-client-03.png" alt="client">
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="/assets/site/images/img-client-04.png" alt="client">
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="/assets/site/images/img-client-05.png" alt="client">
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="/assets/site/images/img-client-06.png" alt="client">
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="/assets/site/images/img-client-07.png" alt="client">
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="/assets/site/images/img-client-08.png" alt="client">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Clients"
    }
</script>

<style scoped>

</style>
