<template>
    <div>
        <div class="row">
            <div class="col-md-12">
                <img class="groupEdWd-datatable-img-placeholder"
                     src="/assets/images/Metal-Construction-icon.png"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h5 class="groupEdWd-red-color padd-20-top padd-10-btm">No
                    {{title}}
                    available at the moment.</h5>
                <h6 class="padd-10-top padd-20-btm">Please contact the site administrator for more information.</h6>
                <a class="btn btn-warning btn-lg" href="/contact-us">
                    <span class="font-weight-bold">Contact Us</span>
                    <i class="fa fa-long-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "EmptyServices",
        props: ['title']
    }
</script>

<style scoped>

</style>
