<template>
    <div id="facts" class="facts groupEdWd-content-section bg-theme">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="fact-item">
                                <span class="fact-item-number">
                                  <span class="pe-7s-alarm icon"></span>
                                  <span class="number number-alt">2+</span>
                                </span>
                        <h5 class="fact-item-info">Year Experience</h5>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="fact-item">
                                <span class="fact-item-number">
                                  <span class="pe-7s-medal icon"></span>
                                  <span class="number">2</span>
                                </span>
                        <h5 class="fact-item-info">Awards</h5>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="fact-item">
                                <span class="fact-item-number">
                                  <span class="pe-7s-tools icon"></span>
                                  <span class="number">10</span>
                                </span>
                        <h5 class="fact-item-info">Projects Done</h5>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="fact-item">
                                <span class="fact-item-number">
                                  <span class="pe-7s-like2 icon"></span>
                                  <span class="number">25</span>
                                </span>
                        <h5 class="fact-item-info">Great Customers</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Expertise"
    }
</script>

<style scoped>

</style>
