<template>
    <div id="service" class="service content-section bg-white">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h2>Our Best Services</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="groupEdWd-blog-entry">
                        <a href="#" class="blog-entry-thumbnail">
                            <img
                                src="assets/images/valeurs/valeur1.jpg"
                                alt="metal roofting"
                                class="img-responsive"
                            />
                        </a>
                        <div class="blog-entry-header">
                            <h2 class="entry-title">
                                <a href="#" rel="bookmark">Metal Roofting</a>
                            </h2>
                        </div>
                        <div class="blog-entry-content">
                            <p>
                                Construction offer you the best in metal roofing
                                services, supplies and materials to help protect
                                one of your biggest investments you will ever
                                make, your home. There is no better way to
                                protect …
                            </p>
                            <p>
                                <a href="#" class="read-more"
                                    >Read more &#43;</a
                                >
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="groupEdWd-blog-entry">
                        <a href="#" class="blog-entry-thumbnail">
                            <img
                                src="assets/images/valeurs/valeur2.jpg"
                                alt="green building"
                                class="img-responsive"
                            />
                        </a>
                        <div class="blog-entry-header">
                            <h2 class="entry-title">
                                <a href="#" rel="bookmark">Green Building</a>
                            </h2>
                        </div>
                        <div class="blog-entry-content">
                            <p>
                                By choosing to build green, you aremaking an
                                effort to reduce the burden on the environment
                                and also add value to your home. Construction
                                provides you with the guidance and the tools
                                that are necessary …
                            </p>
                            <p>
                                <a href="#" class="read-more"
                                    >Read more &#43;</a
                                >
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <ul class="blog-entry-list">
                        <li>
                            <span class="entry-post-thumbnail">
                                <img
                                    src="assets/images/valeurs/valeur3.jpg"
                                    alt="construction Consultant"
                                />
                            </span>
                            <div class="entry-post-content">
                                <h4 class="entry-post-title">
                                    <a href="#">Construction Consultant</a>
                                </h4>
                                <p>
                                    Process of Consultation Whether you know
                                    exactly how you ...
                                </p>
                            </div>
                        </li>
                        <li>
                            <span class="entry-post-thumbnail">
                                <img
                                    src="assets/images/valeurs/valeur4.jpg"
                                    alt="General Contracting"
                                />
                            </span>
                            <div class="entry-post-content">
                                <h4 class="entry-post-title">
                                    <a href="#">General Contracting</a>
                                </h4>
                                <p>
                                    Construction With a reputation built on
                                    offering superior ...
                                </p>
                            </div>
                        </li>
                        <li>
                            <span class="entry-post-thumbnail">
                                <img
                                    src="assets/images/valeurs/valeur1.jpg"
                                    alt="Construction Management"
                                />
                            </span>
                            <div class="entry-post-content">
                                <h4 class="entry-post-title">
                                    <a href="#">Construction Management</a>
                                </h4>
                                <p>
                                    We offer commitment at all levels of
                                    building project, from preparing ...
                                </p>
                            </div>
                        </li>
                        <li>
                            <span class="entry-post-thumbnail">
                                <img
                                    src="assets/images/valeurs/valeur2.jpg"
                                    alt="House Renovation"
                                />
                            </span>
                            <div class="entry-post-content">
                                <h4 class="entry-post-title">
                                    <a href="#">House Renovation</a>
                                </h4>
                                <p>
                                    Interior There are a number of great reasons
                                    to makeover ...
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name: "Home Services",
};
</script>

<style scoped></style>
