<template>
    <div id="additional-info" class="additional-info block-section bg-theme padd-20-top padd-40-btm">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="contact-item">
                        <div class="contact-item-icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <h4 class="contact-item-title">Phone Numbers</h4>
                        <div class="contact-item-info">(+49) 176 65639024</div>
                        <div class="contact-item-info">(+39) 380 342 7159</div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="contact-item">
                        <div class="contact-item-icon">
                            <i class="fa fa-envelope-o"></i>
                        </div>
                        <h4 class="contact-item-title">Email Address</h4>
                        <div class="contact-item-info">startup@construction.com</div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="contact-item">
                        <div class="contact-item-icon">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <h4 class="contact-item-title">Office Address</h4>
                        <div class="contact-item-info">Via Daniele Ricciarelli, 31, 20148 Milano</div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="contact-item">
                        <div class="contact-item-icon">
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <h4 class="contact-item-title">Opening Time</h4>
                        <div class="contact-item-info">Mon - Sat: 8.00 - 18:00</div>
                        <div class="contact-item-info">Sun: Closed</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "InformationsContact"
    }
</script>

<style scoped>

</style>
