<template>
    <div id="cta" class="cta block-section padd-40-top padd-40-btm bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <h4>
                        Are you looking for professionals to plan and build the
                        house of your dreams?
                    </h4>
                    <p>
                        We offer the best engineers and builders to make your
                        dreams.
                    </p>
                </div>
                <div class="col-sm-4 text-right marg-20-top">
                    <!-- <a class="button" href="/contact-us">
                        Contact Us
                        <i class="fa fa-long-arrow-right"></i>
                    </a> -->
                    <router-link :to="{ name: 'site.contact' }" class="button">
                        <span>Contact Us</span>
                        <i class="fa fa-long-arrow-right"></i>
                    </router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "Informations",
};
</script>

<style scoped></style>
