<template>
    <div class="block-section bg-grey">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-7 col-xs-11">
                    <div class="header-caption">
                        <h2 class="caption-title text-secondary-bold">Stay connected to your work.</h2>
                        <h6>Stay connected to the latest news. Leave us your email to be notified when we launch. Thanks
                            for your interest!</h6>
                        <form @submit.prevent="contactItem()" @keydown="form.onKeydown($event)" class="subscribe-form">
                            <div class="input-group input-group-lg">
                                <input type="email"
                                       class="form-control form-bordered"
                                       id="email"
                                       name="email"
                                       placeholder="Enter a valid e-mail address"
                                       v-model="form.email">
                                <span class="input-group-btn">
                                    <button :disabled="!checkValidation || form.busy" class="btn btn-theme"
                                            type="submit">
                                        Subscribe
                                        <i class="fa fa-long-arrow-right"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                        <has-error :form="form" class="groupEdWd-required" field="email"/>
                        <p>
                            <small><span class="groupEdWd-required">*</span> We do not share your email with third
                                parties.
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Subscribe",
        data() {
            return {
                form: new Form({
                    email: '',
                }),
            }
        },
        computed: {
            checkValidation() {
                return (this.form.email) ? true : false;
            }
        },
        methods: {
            contactItem() {
                this.$Progress.start();
                // Submit the form via a POST request
                this.form.busy = true;
                this.form.post('/newsletters/send').then(() => {
                    //Insertion de l'alert !
                    toastr.success('Your registration has been taken into account. You will be informed shortly.', '', {timeOut: 5000});
                    //Fin insertion de l'alert !

                    this.form.reset();
                    //End Progress bar

                    this.$Progress.finish();
                }).catch(() => {
                    //Failled message
                    this.$Progress.fail();
                    //Alert error
                    toastr.error('The information is incorrect', '', {timeOut: 5000});
                })
            },

        },
        created() {
            //
        }
    }
</script>

<style scoped>
    .header-caption {
        padding: 40px 0;
        color: inherit;
    }
</style>
