<template>
    <div id="team" class="team content-section bg-white groupEdWd-padding-none">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h2>The founders of EdWd Engineering</h2>
                    </div>
                </div>
            </div>
            <div class="row col-md-offset-5">
                <div class="col-sm-5">
                    <div class="team-item">
                        <div class="team-item-image">
                            <img alt="team member" class="groupEdWd-about-img" src="/assets/images/default-avatar.png">
                            <div class="team-item-detail">
                                <h5 class="team-item-title">Contact</h5>
                                <span><strong>Tel: (+39) 380 342 7159</strong></span><br>
                                <span><strong>startup@construction.com</strong></span>
                            </div>
                        </div>
                        <h4 class="team-item-name">William Domfang</h4>
                        <h6 class="team-item-name">CEO & CO-FOUNDER</h6>
                        <span class="team-item-role">Small description here .....</span>
                    </div>
                </div>

                <!-- <div class="col-sm-4">
                    <div class="team-item">
                        <div class="team-item-image">
                            <img alt="team member" class="groupEdWd-about-img" src="/assets/images/default-avatar.png">
                            <div class="team-item-detail">
                                <h5 class="team-item-title">Contact</h5>
                                <span><strong>Tel: (+49) 176 65639024</strong></span><br>
                                <span><strong>startup@construction.com</strong></span>
                            </div>
                        </div>
                        <h4 class="team-item-name">Djeuna Edhuige</h4>
                        <h6>CEO & CO-FOUNDER</h6>
                        <span class="team-item-role">Small description here .....</span>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Team"
    }
</script>

<style scoped>

</style>
