<template>
    <div id="why" class="why content-section bg-grey">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h2>Our Values</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="process-item highlight text-center groupEdWd-valeurs-img">
                        <img class="img-responsive" src="/assets/images/valeurs/valeur1.jpg">
                        <div class="process-item-content">
                            <span class="process-item-number">1</span>
                            <h3 class="process-item-title">Building construction</h3>
                            <p>We provide the design-build and rehabilitation of all types of buildings: nCross-work /
                                covered enclosure, Second work, metal construction, housing, offices, functional or
                                industrial buildings, recognized for its multidisciplinary team.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="process-item text-center groupEdWd-valeurs-img">
                        <img class="img-responsive" src="/assets/images/valeurs/valeur2.jpg">
                        <div class="process-item-content">
                            <span class="process-item-number">2</span>
                            <h3 class="process-item-title">Civil engineering works</h3>
                            <p>We carry out large-scale works while ensuring a local service for specific needs. Its
                                skills in this area, acquired over many years of experience, as well as the quality of
                                its staff and tools.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="process-item highlight text-center groupEdWd-valeurs-img">
                        <img class="img-responsive" src="/assets/images/valeurs/valeur3.jpg">
                        <div class="process-item-content">
                            <span class="process-item-number">3</span>
                            <h3 class="process-item-title">Design and design office</h3>
                            <p>We are also a structural and engineering studies office with technical expertise in the
                                field of building and civil engineering. We offer a quality and local service for
                                construction in several areas.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="process-item text-center groupEdWd-valeurs-img">
                        <img class="img-responsive" src="/assets/images/valeurs/valeur4.jpg">
                        <div class="process-item-content">
                            <span class="process-item-number">4</span>
                            <h3 class="process-item-title">Control mission</h3>
                            <p>We provide public and private project owners with the technical expertise acquired on
                                works supervision and control missions and consulting engineers.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Valeurs"
    }
</script>

<style scoped>

</style>
