<template>
    <div class="block-section image-block bg-white" id="about">
        <div class="container-fluid container-no-padding">
            <div class="row row-no-margin">
                <div class="image-block-item col-md-6 col-sm-5 col-xs-12">
                    <div class="image-block-item-background"
                         style="background-image: url('/assets/images/site/home-1.png');"></div>
                </div>
            </div>
        </div>

        <div class="container clear">
            <div class="row">
                <div class="col-md-6 col-md-offset-7 col-sm-6 col-sm-offset-6 col-xs-10 col-xs-offset-1 padd-80-top padd-60-btm">
                    <div class="section-title">
                        <h2>Who We Are?</h2>
                    </div>
                    <p class="text-justify">At ED & WD Engineering Services, we all come to work every day
                        because we want to solve the biggest problem in civil building construction. Where
                        different stakeholders are involved, pubblic, private construction companies, and
                        ministries of civil works, in order to meet their needs in construction projects,
                        however, most of the construction projects are running behind schedule and there is a
                        biggest cost impacting that implies ineficiency.</p>
                    <p class="text-justify">Throughout the history, many construction projects need a good
                        assessment since from the design phase, execution phase and handover phase. Our mission
                        at ED & WD Engineering Services is to support those public and private construction
                        companies, in order to determine the client requirements, execute the Process
                        optimization for construction sites and Procurement of Services, Consultancies,
                        Subcontract and Supply of materials, with a main focus on Facades works and BIM
                        modelling systems, which are those comodities critically for the correct execution of
                        the Project. We want to be as an <strong>Added Value</strong>
                        for the construction companies in order better approach any building
                        construction projects
                    </p>
                    <p><a class="button btn-danger popup-video" href="http://www.youtube.com/watch?v=Og879fOk6DQ"><i
                            class="fa fa-file-video-o"></i> See Our Service</a></p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "WhoWeAre"
    }
</script>

<style scoped>

</style>
