<template>
  <ul class="sub-menu">

    <li v-for="item in categoryservices" :key="item.id" class="menu-item">
      <a :href="`/services/${item.slug}`"> {{ item.name }} </a>
    </li>
    
  </ul>
</template>

<script>
export default {
  data() {
    return {
      loaded: false,
      categoryservices: {},
    };
  },
  methods: {
 
   loadItems() {
      //Start Progress bar
      this.$Progress.start();
      dyaxios.get(route("api.categoryservices")).then((response) => {
        this.loaded = true;
        this.categoryservices = response.data;
      });
      //End Progress bar
      this.$Progress.finish();
    },
  },

  created() {
    this.loadItems();
  },
};
</script>

<style scoped>
</style>
