<template>
  <div class="widget widget_nav_menu">
    <ul>
      <li v-for="item in categoryservices" :key="item.id" role="presentation">
         <a :href="`/services/${item.slug}`"> {{ item.name }} </a>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  data() {
    return {
      loaded: false,
      categoryservices: {},
    };
  },
  methods: {
    loadItems() {
      //Start Progress bar
      this.$Progress.start();
      dyaxios.get(route("api.categoryservices")).then((response) => {
        this.loaded = true;
        this.categoryservices = response.data;
      });
      //End Progress bar
      this.$Progress.finish();
    },
  },

  created() {
    this.loadItems();
  },
};
</script>

<style scoped>
</style>
