/*** Configuration Site ***/
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 600 !important;
}

.section-title h2, 
.section-title h3 {
    font-size: 28px;
}

.section-title h2:before,
.section-title h2:after,
.section-title h3:before,
.section-title h3:after {
  background-color: #ffa800;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 10%;
}

.section-title h2:before,
.section-title h3:before {
  right: 0.5em;
  margin-left: -50%;
}

.section-title h2:after,
.section-title h3:after {
  left: 0.5em;
  margin-right: -50%;
}

.topbar .nav-utility .nav-item {
    font-size: 16px !important;
}

::-webkit-scrollbar-thumb {
    background-color: #636660;
    border-radius: 20px;
}

::-webkit-scrollbar {
    width: 10px;
}

#toTop {
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    display: none;
    z-index: 99;
    border-radius: 10%;
    width: 60px;
    height: 60px;
    font-size: 2em;
}

#toTop:hover {
    border: 2px solid white;
}

#toTop:hover span i.fas {
    top: -7px;
    position: relative;
    transition: all 300ms;
}

.panel-default > .panel-heading {
    background-color: #d12420 !important;
}

.panel-title a:focus, .panel-title a:hover, .panel-title a[aria-expanded=true],
.panel-title a {
    color: white !important;
}

.header-navbar {
    width: 100%;
    min-height: 0px;
    height: auto;
    background-color: transparent;
}

.site-topbar {
    background-color: #121212;
}

.site-navbar {
    background-color: #2b2b2b;
}

.main-navigation a {
    font-size: 15px;
    font-weight: 500;
}

.current-menu-item > a {
    text-decoration: none !important;
}

.sticky-bar {
    background-color: #ffa800 !important;
}

.groupEdWd-line-divider {
    border-top-color: #ffa800;
}

.groupEdWd-dropdown-link {
    font-size: 15px;
}

.groupEdWd-dropdown-icon {
    font-size: 15px;
}

.groupEdWd-container-show-ride-pwd {
    right: 20px;
    position: relative;
    float: right;
    font-size: 18px;
    top: -35px;
    cursor: pointer;
}

.groupEdWd-footer-title::after {
    content: '';
    display: block;
    width: 80%;
    height: 2px;
    margin-top: 10px;
    background-color: #ffa800;
}

.groupEdWd-footer {
    border-top: groove;
}

.groupEdWd-footer-flag {
    width: 20px;
    height: 20px;
}

.groupEdWd-footer ul li a:hover {
    color: #f96332;
}

.groupEdWd-fileinput-pointer {
    cursor: pointer;
}

.btn:focus {
    outline: none !important;
}

.site-footer a:hover {
    left: 5px;
    position: relative;
    transition: all .1s linear;
}

.site-footer {
    padding: 60px 0 20px !important;
}

.copyright {
    padding: 10px 0 !important;
}

.groupEdWd-button {
    background-color: #ffa800 !important;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f2f2f2;
    min-width: 160px;
    left: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #2b2b2b;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ffa800;
    color: #ffffff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*** Colors ***/
.groupEdWd-red-color,
.groupEdWd-required,
.groupEdWd-errors-field {
    color: #d12420 !important;
}

.groupEdWd-img-left {
    width: 100%;
    height: auto;
}

.groupEdWd-datatable {
    width: 100% !important;
}

.groupEdWd-invalid-feedback {
    display: block;
}

.groupEdWd-valeurs-subtitle {
    font-size: 20px !important;
}

.groupEdWd-valeurs-img img {
    width: 262px;
    height: 225px !important;
}

.groupEdWd-datatable-img {
    height: 50px;
    width: 80px;
    border-radius: 4px
}

.groupEdWd-datatable-img-placeholder {
    width: 30%;
    border-radius: 4px
}

.ql-editor {
    min-height: 100px !important;
}

.groupEdWd-img-left-small {
    height: 70% !important;
}

/*** Profil ***/
.groupEdWd-profil-img {
    margin-right: 15px;
    max-width: 100px;
    height: auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.groupEdWd-profil-section {
    background: #ffa800;
}

.groupEdWd-content-section {
    background-color: #f3f2ef;
}

.groupEdWd-comments {
    background: #d12420 !important;
    padding: 5px 0 5px 5px;
    font-weight: 600 !important;
    color: white !important;
}

.groupEdWd-login-right-section,
.groupEdWd-registration-right-section,
.groupEdWd-resetPassword-right-section,
.groupEdWd-contact-right-section {
    left: 20px;
    position: relative;
}

.groupEdWd-contact-left-section {
    height: 50% !important;
}

.groupEdWd-contact-left-section iframe {
    top: 50px;
    position: relative;
    width: 100%;
    left: 50px;
    height: 85%;
}

.groupEdWd-bullet {
    display: inline;
    margin: 0 4px;
}

.groupEdWd-bullet:after {
    content: "\2022";
}

.groupEdWd-content-section.bg-theme {
    padding: 40px 0;
    color: #fff;
    background-color: #ffa800;
}

.groupEdWd-content-section.bg-white {
    padding: 40px 0;
}

.groupEdWd-content-section.bg-theme span {
    color: #fff;
}

.groupEdWd-button-hover-warning {
    border: 1px solid #ffffff !important;
    background-color: #ffa800 !important;
    color: #ffffff !important;
}

.groupEdWd-button-hover-warning:hover {
    opacity: 0.8;
    color: inherit !important;
}

.groupEdWd-about-img {
    width: 350px;
    height: auto !important;
}

.groupEdWd-service-show {
    display: flex;
    justify-content: center;
    align-items: center;
}

.groupEdWd-service-show img {
    height: 380px;
}

.groupEdWd-display-none {
    display: none !important;
}

.groupEdWd-padding-none {
    padding: 0 !important;
}

.groupEdWd-margin-none {
    margin: 0 !important;
}

.entry-content p {
    padding-top: 5px !important;
    padding-bottom: 0px !important;
    margin: 0px !important;
    font-size: 14px;
    letter-spacing: 0.9px;
    line-height: 30px;
    text-align: left;
}

.blog-entry-content ul {
    font-size: 16px;
    line-height: 30px;
}

.blog-entry-content .read-more {
    padding: 10px 0 !important;
}

.groupEdWd-blog-entry {
    margin-bottom: 0px !important;
    box-shadow: 0 8px 31px 0 rgb(0 0 0 / 10%);
}

.groupEdWd-blog-entry .blog-entry-header,
.groupEdWd-blog-entry .blog-entry-content {
    margin: 15px;
}

.groupEdWd-blog-entry-list .entry-post-thumbnail img {
    border-radius: 2px;
}

/* About */
.groupEdWd-about-container {
    display: flex;
}
.groupEdWd-about-icon {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    border: 1px solid;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 2rem;
    padding: 20px;
    margin-right: 2rem;
}
.groupEdWd-about-content .groupEdWd-about-content-title {
    margin-top: 0;
}

/* Media Queries */
@media only screen and (max-width: 47.9375em) {
    .groupEdWd-login-right-section,
    .groupEdWd-registration-right-section,
    .groupEdWd-resetPassword-right-section,
    .groupEdWd-contact-right-section {
        left: 0px;
        position: relative;
    }
    .groupEdWd-contact-left-section iframe {
        top: 50px;
        position: relative;
        width: 100%;
        left: 0px;
        height: -webkit-fill-available;
    }

    .entry-content img {
        height: auto !important;
    }
    .groupEdWd-valeurs-img img {
        width: auto;
    }
    .section-title h2, 
    .section-title h3 {
        margin-bottom: 40px;
        font-size: 24px;
        letter-spacing: 2px;
    }
    .section-title h2:before,
    .section-title h2:after,
    .section-title h3:before,
    .section-title h3:after {
        display: none;
    }
}

@media only screen and (min-width: 90em) {
    .groupEdWd-contact-last-child {
        top: 400px;
    }
}
