<template>
    <div>
        <vue-progress-bar/>
        <Navbar/>
        <div id="contact" class="contact block-section image-block bg-white">
            <div class="container-fluid container-no-padding">
                <div class="row row-no-margin">
                    <div class="image-block-item col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-6 col-xs-10 col-xs-offset-1">
                        <img alt="Group Ed&Wd, Start-Up BTP et MIM pour vos prestations en construction"
                             class="img-responsive groupEdWd-img-left marg-20-btm marg-100-top"
                             src="/assets/images/groupEdWd.gif">
                    </div>
                </div>
            </div>
            <div class="container clear">
                <div class="row">
                    <div class="groupEdWd-login-right-section col-md-6 col-md-offset-6 col-sm-6 col-sm-offset-6 col-xs-10 col-xs-offset-1 padd-20-top padd-60-btm">
                        <h3 class="text-center padd-20-btm padd-60-top groupEdWd-red-color">Welcome to the Login
                            Page</h3>
                        <form @submit.prevent="login()" @keydown="form.onKeydown($event)" class="contact-form">
                            <div class="form-group padd-20-btm">
                                <label for="username">Username <span class="groupEdWd-required">*</span></label>
                                <input type="text" v-model="form.username" name="username"
                                       class="form-control form-bordered" placeholder="Enter your username"
                                       id="username">
                                <has-error :form="form" field="username" class="groupEdWd-required"/>
                            </div>
                            <div class="form-group padd-20-btm">
                                <label for="password">Password <span class="groupEdWd-required">*</span></label>
                                <input :type="passwordType" name="password" v-model="form.password"
                                       class="form-control form-bordered" placeholder="Enter your password"
                                       id="password">
                                <div @click="showRidePwd" class="groupEdWd-container-show-ride-pwd">
                                    <i :class="getPasswordIcon()"></i>
                                </div>
                                <has-error :form="form" field="password" class="groupEdWd-required"/>
                                <p class="text-right">
                                    <router-link :to="{ name: 'site.resetPassword' }">
                                        <span>I forgot my password</span>
                                    </router-link>
                                </p>
                            </div>
                            <div class="form-group padd-20-btm">
                                <button :disabled="!checkValidation || form.busy" class="btn btn-lg btn-warning"
                                        type="submit">
                                    <span class="font-weight-bold">Login</span>
                                    <i class="fa fa-long-arrow-right"></i>
                                </button>
                            </div>
                            <hr class="groupEdWd-line-divider"/>
                            <p class="text-center">Are you a new user on this website?
                                <router-link :to="{ name: 'site.register' }">
                                    <span>Register</span>
                                </router-link>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <Footer/>
    </div>
</template>

<script>
    import Footer from "../../../layouts/Site/Footer";
    import Navbar from "../../../layouts/Site/Navbar";

    export default {
        name: "Login",
        components: {Navbar, Footer},
        data() {
            document.title = `Se connecter | ${this.$name_site}`;
            return {
                form: new Form({
                    username: '',
                    password: '',
                }),
                passwordType: 'password',
                errors: []
            };
        },
        computed: {
            checkValidation() {
                return (this.form.username && this.form.password) ? true : false;
            }
        },
        methods: {
            showRidePwd() {
                this.passwordType = (this.passwordType === 'password' ? 'text' : 'password');
                this.getPasswordIcon();
            },
            getPasswordIcon() {
                return (this.passwordType === 'password' ? 'fa fa-eye' : 'fa fa-eye-slash');
            },
            login() {
                this.$Progress.start();
                this.form.busy = true;
                this.form.post('/login')
                    .then((response) => {
                        setTimeout(function () {
                            let notify = $.notify('<strong>Please wait a moment...</strong> ...', {
                                allow_dismiss: false,
                                showProgressbar: true,
                                placement: {
                                    align: 'right'
                                }
                            });
                            notify.update({
                                'type': 'success',
                                'message': '<strong>Welcome back.</strong>',
                                'progress': 75
                            });
                            setTimeout(() => {
                                window.location.href = `/`
                            }, 1000);
                        }, 2000);
                        this.$Progress.finish();
                    })
                    .catch((error) => {
                        this.$Progress.fail();
                        console.log(error.response.data.errors.email);
                        this.errors = error.response.data;
                        toastr.error('The information is incorrect', '', {timeOut: 5000})
                    })
            }
        },
        created() {
            this.$Progress.start();
            this.$Progress.finish();
        }
    }
</script>

<style scoped>

</style>
