<template>
    <div>
        <vue-progress-bar/>
        <Navbar/>
        <div id="contact" class="contact block-section image-block bg-white">
            <div class="container-fluid container-no-padding">
                <div class="row row-no-margin">
                    <div class="image-block-item col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-6 col-xs-10 col-xs-offset-1">
                        <img alt="Group Ed&Wd, Start-Up BTP et MIM pour vos prestations en construction"
                             class="img-responsive groupEdWd-img-left marg-20-btm marg-100-top"
                             src="/assets/images/groupEdWd.gif">
                    </div>
                </div>
            </div>

            <div class="container clear">
                <div class="row">
                    <div class="groupEdWd-registration-right-section col-md-6 col-md-offset-6 col-sm-6 col-sm-offset-6 col-xs-10 col-xs-offset-1 padd-20-top padd-60-btm">
                        <h3 class="text-center padd-20-btm padd-60-top groupEdWd-red-color">Welcome to the Registration
                            Page</h3>
                        <form @keydown="form.onKeydown($event)" @submit.prevent="register()" class="contact-form">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group padd-20-btm">
                                        <label for="sex">Civilité <span class="groupEdWd-required">*</span></label>
                                        <select class="form-control form-bordered" id="sex" v-model="form.sex">
                                            <option disabled hidden selected value="">I am ...</option>
                                            <option value="Male">A Man</option>
                                            <option value="Female">A Women</option>
                                        </select>
                                        <has-error :form="form" class="groupEdWd-required" field="sex"/>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group padd-20-btm">
                                        <label for="username">Our Username <span
                                                class="groupEdWd-required">*</span></label>
                                        <input class="form-control form-bordered" id="username" name="username"
                                               placeholder="Enter an username" type="text"
                                               v-model="form.username">
                                        <has-error :form="form" class="groupEdWd-required" field="username"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group padd-20-btm">
                                <label for="name">First and Last Name <span class="groupEdWd-required">*</span></label>
                                <input class="form-control form-bordered" id="name" name="name"
                                       placeholder="Enter a fullname"
                                       type="text" v-model="form.name">
                                <has-error :form="form" class="groupEdWd-required" field="name"/>
                            </div>
                            <div class="form-group padd-20-btm">
                                <label for="email">E-mail Address <span class="groupEdWd-required">*</span></label>
                                <input type="text" v-model="form.email" name="email" class="form-control form-bordered"
                                       id="email" placeholder="Enter a valid e-mail address">
                                <has-error :form="form" class="groupEdWd-required" field="email"/>
                            </div>
                            <div class="form-group padd-20-btm">
                                <label for="password">Password <span class="groupEdWd-required">*</span></label>
                                <input :type="passwordType" name="password" v-model="form.password"
                                       class="form-control form-bordered" placeholder="Enter a password"
                                       id="password">
                                <div @click="showRidePwd" class="groupEdWd-container-show-ride-pwd">
                                    <i :class="getPasswordIcon()"></i>
                                </div>
                                <has-error :form="form" class="groupEdWd-required" field="password"/>
                            </div>
                            <div class="form-group padd-20-btm">
                                <label for="password_confirmation">Confrim Password <span
                                        class="groupEdWd-required">*</span></label>
                                <input :type="password_confirmationType" name="password_confirmation"
                                       v-model="form.password_confirmation"
                                       class="form-control form-bordered" placeholder="Confirm your password"
                                       id="password_confirmation">
                                <div @click="showRideConfirmationPwd" class="groupEdWd-container-show-ride-pwd">
                                    <i :class="getConfirmationPasswordIcon()"></i>
                                </div>
                                <has-error :form="form" class="groupEdWd-required" field="password_confirmation"/>
                            </div>
                            <div class="form-group padd-20-btm">
                                <button :disabled="!checkValidation || form.busy" class="btn btn-lg btn-warning"
                                        type="submit">
                                    <span class="font-weight-bold">Register</span>
                                    <i class="fa fa-long-arrow-right"></i>
                                </button>
                            </div>
                            <hr class="groupEdWd-line-divider"/>
                            <p class="text-center">Already have an account on the site?
                                <router-link :to="{ name: 'site.login' }"><span>Login</span></router-link>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <Footer/>
    </div>
</template>

<script>
    import Navbar from "../../../layouts/Site/Navbar";
    import Footer from "../../../layouts/Site/Footer";

    import Swal from "sweetalert2";

    export default {
        name: "Registration",
        components: {Footer, Navbar},
        data() {
            document.title = `${this.name_site} Inscription | ${this.$name_site}`;
            return {
                form: new Form({
                    name: '',
                    username: '',
                    sex: '',
                    email: '',
                    password: '',
                    password_confirmation: ''
                }),
                passwordType: 'password',
                password_confirmationType: 'password'
            }
        },
        computed: {
            checkValidation() {
                return (this.form.name && this.form.username && this.form.email
                    && this.form.password && this.form.password_confirmation && this.form.sex) ? true : false;
            }
        },
        methods: {
            showRidePwd() {
                this.passwordType = (this.passwordType === 'password' ? 'text' : 'password');
                this.getPasswordIcon();
            },
            showRideConfirmationPwd() {
                this.password_confirmationType = (this.password_confirmationType === 'password' ? 'text' : 'password');
                this.getConfirmationPasswordIcon();
            },
            getPasswordIcon() {
                return (this.passwordType === 'password' ? 'fa fa-eye' : 'fa fa-eye-slash');
            },
            getConfirmationPasswordIcon() {
                return (this.password_confirmationType === 'password' ? 'fa fa-eye' : 'fa fa-eye-slash');
            },
            register() {
                //Start Progress Bar
                this.$Progress.start();
                this.form.busy = true;
                this.form.post('register')
                    .then((response) => {
                        Swal.fire({
                            title: "Félicitations",
                            text: `Votre compte à bien été crée. Un mail de confirmation vous a été envoyé à l'addresse {{email}}. Veillez vérifier votre boite mail pour confirmer votre compte.`,
                            icon: "success",
                            buttonsStyling: false,
                            confirmButtonClass: "btn btn-success",
                            confirmButtonText: 'Compris !',
                            showCancelButton: false,
                        });
                        setTimeout(() => {
                            window.location.href = `/`
                        }, 1000);
                        this.form.reset();
                        //End Progress Bar
                        this.$Progress.finish();
                    }).catch((error) => {
                    this.$Progress.fail();
                    console.log(error.response);
                    toastr.error('The information is incorrect', '', {timeOut: 5000});
                })
            }
        }
    }
</script>

<style scoped>

</style>
