<template>
  <div class="wrapper">
    <vue-progress-bar />
    <Navbar />
    <div class="main-panel" id="main-panel">
      <NavTop />
      <div class="panel-header">
        <div class="header text-center">
            <h2 class="title">Terms & Conditions</h2>
          <p class="category">
            <a href="/nos-termes-conditions" target="_blank">
              Navigate to Terms and Conditions
              <i class="now-ui-icons arrows-1_minimal-right"></i>
            </a>
          </p>
        </div>
      </div>
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body my-5">
                <div class="toolbar">
                  <div v-if="termeconditions.length == 0" class="submit text-center">
                    <router-link
                      :to="{ name: 'termeconditions.create' }"
                      class="btn btn-primary btn-raised"
                    >
                      <i class="now-ui-icons ui-1_simple-add"></i>
                      <b class="title_hover">New Term & Condition</b>
                    </router-link>
                  </div>
                </div>
                <table
                  id="datatable"
                  class="table table-striped table-bordered groupEdWd-datatable"
                  cellspacing="0"
                >
                  <thead>
                    <tr>
                      <th>Term & Condition Name</th>
                      <th>Created By</th>
                      <th>Status</th>
                      <th>Created Date</th>
                      <th class="disabled-sorting text-right">Actions</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Term & Condition Name</th>
                      <th>Created By</th>
                      <th>Status</th>
                      <th>Created Date</th>
                      <th class="disabled-sorting text-right">Actions</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    <tr v-for="item in termeconditions" :key="item.id">
                      <td>
                        {{
                          (item.title.length > 15
                            ? item.title.substring(0, 15) + "..."
                            : item.title) | upText
                        }}
                      </td>
                      <td v-if="item.user_id !== null">{{ item.user.name }}</td>
                      <td v-else>No user</td>
                      <td>
                        <div class="timeline-heading">
                          <span v-if="item.status" class="badge badge-success"
                            ><b>Active</b></span
                          >
                          <span
                            v-else-if="!item.status"
                            class="badge badge-danger"
                            ><b>Deactive</b></span
                          >
                        </div>
                      </td>
                      <td>
                        <b>{{ item.created_at | dateAgo }}</b>
                      </td>
                      <td class="text-right">
                        <template>
                          <button
                            @click="statusItem(item)"
                            v-if="item.status"
                            type="button"
                            class="btn btn-round btn-success btn-icon btn-sm remove"
                            title="Desactivate Term & Condition"
                          >
                            <i class="now-ui-icons ui-1_check" />
                          </button>
                          <button
                            @click="statusItem(item)"
                            v-else
                            type="button"
                            class="btn btn-round btn-danger btn-icon btn-sm remove"
                            title="Activate Term & Condition"
                          >
                            <i class="now-ui-icons ui-1_simple-delete" />
                          </button>
                        </template>

                        <router-link
                          :to="{ name: 'termeconditions.edit', params: { id: item.id } }"
                          title="Edit Term & Condition"
                          class="btn btn-round btn-info btn-icon btn-sm edit"
                        >
                          <i class="far fa-edit"></i>
                        </router-link>
                        <button
                          @click="deleteItem(item)"
                          class="btn btn-round btn-danger btn-icon btn-sm remove"
                          title="Delete Term & Condition"
                        >
                          <i class="fas fa-times"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <Footer />
    </div>
  </div>
</template>

<script>
    import NavTop from "../../../layouts/Dashboard/NavTop";
    import Navbar from "../../../layouts/Dashboard/Navbar";
    import Footer from "../../../layouts/Dashboard/Footer";

    export default {
  name: "Dashboard",
  components: { NavTop, Navbar, Footer },
  data() {
    document.title = `Terms & Conditions Dashboard - ${this.$name_site}`;
    return {
      loaded: false,
      termeconditions: {},
    };
  },
  methods: {
    mydatatables() {
      $(function () {
        $("#datatable").DataTable({
          pagingType: "full_numbers",
          lengthMenu: [
            [10, 25, 50, -1],
            [10, 25, 50, "All"],
          ],
          responsive: true,
          retrieve: true,
          destroy: true,
          colReorder: true,
          language: {
            searchPlaceholder: "Search Record",
          },
          sPaginationType: "full_numbers",
        });
      });
    },

    statusItem(item) {
      //Progress bar start
      this.$Progress.start();
      this.message = !item.status ? 'activated ' : 'desactivated ';
      this.message = 'Term & Condition ' + this.message + 'successfully.';
      dyaxios
        .post(route("status.termeconditions", [item.id]))
        .then(() => {
          /** Alert notify bootstrapp **/
          $.notify(
            {
              message: this.message
            },
            {
              allow_dismiss: false,
              type: "info",
              placement: {
                from: "top",
                align: "right",
              },
              animate: {
                enter: "animated fadeInDown",
                exit: "animated fadeOutUp",
              },
            }
          );
          /** End alert ***/

          //End Progress bar
          this.$Progress.finish();
          Fire.$emit("ItemGetter");
        })
        .catch(() => {
          //Alert error
          $.notify("Ooop! Something wrong. Try later", {
            type: "danger",
            animate: {
              enter: "animated bounceInDown",
              exit: "animated bounceOutUp",
            },
          });
        });
    },

    deleteItem(item) {
      Swal.fire({
        title: "Delete Term & Condition",
        text: "Are you sure you want to delete this term & condition?",
        customClass: "animated pulse",
        icon: 'error',
        buttonsStyling: false,
        confirmButtonClass: "btn btn-success",
        cancelButtonClass: "btn btn-danger",
        confirmButtonText: "<i class=\"now-ui-icons ui-1_check\"></i> Yes, Delete",
        cancelButtonText: "<i class=\"now-ui-icons ui-1_simple-remove\"></i> No, Cancel",
        showCancelButton: true,
        reverseButtons: true,
      }).then((result) => {
        if (result.value) {
          //Start Progress bar
          this.$Progress.start();

          let index = this.termeconditions.indexOf(item);
          this.termeconditions.splice(index, 1);

          //Envoyer la requete au server
          let url = `/dashboard/termeconditions/${item.id}/delete`;
          dyaxios
            .delete(url)
            .then(() => {
              /** Alert notify bootstrapp **/
              $.notify(
                {
                  message: "Term & Condition deleted successfully.",
                },
                {
                  allow_dismiss: false,
                  type: "success",
                  placement: {
                    from: "top",
                    align: "right",
                  },
                }
              );
              /* End alert ***/
              //End Progress bar
              this.$Progress.finish();

              Fire.$emit("ItemGetter");
            })
            .catch(() => {
              this.$Progress.fail();
              //Alert error
              $.notify("Ooop! Something wrong. Try later", {
                type: "danger",
                animate: {
                  enter: "animated bounceInDown",
                  exit: "animated bounceOutUp",
                },
              });
            });
        }
      });
    },

    loadItems() {
      //Start Progress bar
      this.$Progress.start();
      dyaxios.get("/api/dashboard/termeconditions").then((response) => {
        this.loaded = true;
        this.termeconditions = response.data;
        this.mydatatables();
      });
      //End Progress bar
      this.$Progress.finish();
    },
  },

  created() {
    this.loadItems();
    Fire.$on("ItemGetter", () => {
      this.loadItems();
    });
  },
};
</script>

<style scoped>
</style>
