<template>
    <div>
        <vue-progress-bar/>
        <Navbar/>
        <div class="main-title block-section padd-100-top padd-100-btm bg-grey">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="main-title-primary">{{ categoryservice.name }}</h1>
                        <h4 class="main-title-secondary">
                            All our consultancy services
                        </h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ol class="breadcrumb">
                            <li><a href="/">Home</a></li>
                            <li class="active">{{ categoryservice.name }}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-main">
            <div class="content-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="sidebar site-sidebar">

                                <ULSiteCategoryservice/>

                                <!-- <div class="widget widget_brocure">
                                    <h3 class="widget-title">Brocure</h3>
                                    <ul class="nav nav-pills nav-stacked">
                                        <li class="active" role="presentation">
                                            <a href="#"
                                            ><i class="fa fa-file-pdf-o"></i>
                                                <span>Download .PDF</span></a
                                            >
                                        </li>
                                        <li role="presentation">
                                            <a href="#"
                                            ><i class="fa fa-file-word-o"></i>
                                                <span>Download .DOC</span></a
                                            >
                                        </li>
                                    </ul>
                                </div> -->
                            </div>
                        </div>

                        <div class="col-md-9" v-if="categoryservice.servicesites">
                            <div class="text-center" v-if="categoryservice.servicesites.length == 0">
                                <EmptyServices :title="`${this.$route.params.categoryservice}`"></EmptyServices>
                            </div>
                            <div class="entry-content" v-else>
                                <div class="row">
                                    <div :key="item.id" class="col-sm-4 mx-auto"
                                         v-for="item in categoryservice.servicesites">
                                        <div class="blog-entry">
                                            <router-link
                                                    :to="{ path: `/services/${item.categoryservice.slug}/${item.slug}/` }"
                                                    class="blog-entry-thumbnail">
                                                <img
                                                        :alt="item.categoryservice.name"
                                                        :src="item.photo"
                                                        class="img-responsive"
                                                />
                                            </router-link>
                                            <div class="blog-entry-header">
                                                <h2 class="entry-title text-center">
                                                    <router-link
                                                            :to="{ path: `/services/${item.categoryservice.slug}/${item.slug}/` }"
                                                            rel="bookmark">{{ item.title.length > 25 ?
                                                        item.title.substring(0, 25) + '...' :
                                                        item.title }}
                                                    </router-link>
                                                </h2>
                                            </div>
                                            <div class="blog-entry-content">
                                                <p class="text-justify">
                                                    {{item.description | striphtml}}
                                                </p>
                                                <p>
                                                    <router-link
                                                            :to="{ path: `/services/${item.categoryservice.slug}/${item.slug}/` }"
                                                            class="read-more">Read More +
                                                    </router-link>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <Footer/>
    </div>
</template>

<script>
    import Navbar from "../../../layouts/Site/Navbar";
    import Footer from "../../../layouts/Site/Footer";
    import ULSiteCategoryservice from "../../../layouts/Site/inc/ULSiteCategoryservice";
    import EmptyServices from "../inc/EmptyServices";

    export default {
        name: "Services",
        components: {EmptyServices, ULSiteCategoryservice, Navbar, Footer},
        data() {
            document.title = `Our Services | ${this.$name_site}`;
            return {
                categoryservice: {},
            };
        },
        mounted() {
            let Itemcategoryservice = this.$route.params.categoryservice;
            dyaxios.get(route("api.servicesites_category", [Itemcategoryservice]))
                .then(({data}) => (this.categoryservice = data));
        },
    };
</script>

<style scoped>
</style>
