<template>
  <div>
    <vue-progress-bar />
    <Navbar />
    <div class="main-title block-section padd-100-top padd-100-btm bg-grey">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h1 class="main-title-primary">
              {{ servicesite.categoryservice.name }}
            </h1>
            <h4 class="main-title-secondary">
              {{ servicesite.title }}
            </h4>
          </div>
        </div>
      </div>
    </div>

    <div class="breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
              <li>
                <router-link
                  :to="{
                    path: `/services/${servicesite.categoryservice.slug}/`,
                  }"
                >
                  {{ servicesite.categoryservice.name }}
                </router-link>
              </li>
              <li class="active">{{ servicesite.title }}</li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <div class="site-main">
      <div class="content-section">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="entry-content">
                <article class="blog-entry">
                  <router-link
                          :to="{
                      path: `/services/${servicesite.categoryservice.slug}/${servicesite.slug}/`,
                    }"
                          class="blog-entry-thumbnail groupEdWd-service-show"
                  >
                    <img
                      :src="servicesite.photo"
                      alt="metal roofting"
                      class="img-responsive"
                    />
                  </router-link>
                  <div class="blog-entry-header">
                    <div class="entry-meta">
                      <span class="entry-cat">
                        <span class="cat-link">
                          <router-link
                            :to="{
                              path: `/services/${servicesite.categoryservice.slug}/`,
                            }"
                          >
                            {{ servicesite.categoryservice.name }}
                          </router-link>
                        </span>
                      </span>
                      <span class="posted-on">
                        <time class="entry-date" datetime="2016-08-14">{{ servicesite.title }}</time>
                      </span>
                      <!--
                      <span class="entry-like"
                        ><a href="#"><i class="fa fa-heart"></i> 172</a></span
                      >
                      -->
                    </div>
                  </div>
                  <div
                    class="blog-entry-content text-justify"
                    v-html="servicesite.description"
                  ></div>
                </article>

                <!--
                      <div class="section-title">
                        <h3>Written by</h3>
                      </div>
                      <div class="blog-entry-author-bio">
                        <div class="author-bio-avatar">
                          <img :alt="servicesite.user.name" :src="servicesite.user.avatar" class="avatar">
                        </div>
                        <div class="author-bio-description">
                          <h4>{{ servicesite.user.name }}</h4>
                        </div>
                      </div>

                      <div class="section-title">
                        <h3>4 Comments</h3>
                      </div>
                      <nav id="comment-nav-above" class="navigation comment-navigation" role="navigation">
                        <h2 class="screen-reader-text">Comment navigation</h2>
                        <div class="nav-links">
                          <div class="nav-previous">
                            <a href="#comments">Older Comments</a>
                          </div>
                          <div class="nav-next">
                            <a href="#comments">Newer Comments</a>
                          </div>
                        </div>
                      </nav>

                      <ol class="comment-list">
                        <li class="comment even parent">
                          <article class="comment-body">
                            <footer class="comment-meta">
                              <div class="comment-author vcard">
                                <img alt="" src="assets/img/img-comment-avatar-01.jpg" class="avatar">
                                <span class="fn">Briana</span>
                              </div>

                              <div class="comment-metadata">
                                <a href="#">
                                  <time datetime="2016-05-09T00:51:13+00:00"> May 9, 2016 at 11:21 am </time>
                                </a>
                              </div>
                            </footer>

                            <div class="comment-content">
                              <p>Nowadays, a family is simply a network of people who care for each other. It can contain hundreds or two. You can be born into one or build your own.</p>
                            </div>

                            <div class="reply">
                              <a rel="nofollow" class="comment-reply-link" href="#respond">Reply</a>
                            </div>
                          </article>

                          <ol class="children">
                            <li class="comment even parent">
                              <article class="comment-body">
                                <footer class="comment-meta">
                                  <div class="comment-author vcard">
                                    <img alt="" src="assets/img/img-comment-avatar-02.jpg" class="avatar">
                                    <span class="fn">Jane Doe</span>
                                  </div>

                                  <div class="comment-metadata">
                                    <a href="#">
                                      <time datetime="2016-05-09T00:51:13+00:00"> May 9, 2016 at 12:51 am </time>
                                    </a>
                                  </div>
                                </footer>

                                <div class="comment-content">
                                  <p>Nowadays, a family is simply a network of people who care for each other. It can contain hundreds or two. You can be born into one or build your own.</p>
                                </div>

                                <div class="reply">
                                  <a rel="nofollow" class="comment-reply-link" href="#respond">Reply</a>
                                </div>
                              </article>

                              <ol class="children">
                                <li class="comment even parent">
                                  <article class="comment-body">
                                    <footer class="comment-meta">
                                      <div class="comment-author vcard">
                                        <img alt="" src="assets/img/img-comment-avatar-03.jpg" class="avatar">
                                        <span class="fn">Jonathan</span>
                                      </div>

                                      <div class="comment-metadata">
                                        <a href="#">
                                          <time datetime="2016-05-09T00:51:13+00:00"> May 9, 2016 at 12:51 am </time>
                                        </a>
                                      </div>
                                    </footer>

                                    <div class="comment-content">
                                      <p>Nowadays, a family is simply a network of people who care for each other. It can contain hundreds or two. You can be born into one or build your own.</p>
                                    </div>

                                    <div class="reply">
                                      <a rel="nofollow" class="comment-reply-link" href="#respond">Reply</a>
                                    </div>
                                  </article>

                                  <ol class="children">
                                    <li class="comment even parent">
                                      <article class="comment-body">
                                        <footer class="comment-meta">
                                          <div class="comment-author vcard">
                                            <img alt="" src="assets/img/img-comment-avatar-04.jpg" class="avatar">
                                            <span class="fn">Sumaryoto</span>
                                          </div>

                                          <div class="comment-metadata">
                                            <a href="#">
                                              <time datetime="2016-05-09T00:51:13+00:00"> May 9, 2016 at 12:51 am </time>
                                            </a>
                                          </div>
                                        </footer>

                                        <div class="comment-content">
                                          <p>Nowadays, a family is simply a network of people who care for each other. It can contain hundreds or two. You can be born into one or build your own.</p>
                                        </div>

                                        <div class="reply">
                                          <a rel="nofollow" class="comment-reply-link" href="#respond">Reply</a>
                                        </div>
                                      </article>
                                    </li>
                                  </ol>
                                </li>
                              </ol>
                            </li>
                          </ol>
                        </li>
                      </ol>

                      <nav id="comment-nav-below" class="navigation comment-navigation" role="navigation">
                        <h2 class="screen-reader-text">Comment navigation</h2>
                        <div class="nav-links">
                          <div class="nav-previous">
                            <a href="#comments">Older Comments</a>
                          </div>
                          <div class="nav-next">
                            <a href="#comments">Newer Comments</a>
                          </div>
                        </div>
                      </nav>

                      <div id="respond" class="comment-respond">
                        <div class="section-title">
                          <h3>Leave a comment</h3>
                        </div>
                        <form class="form-horizontal comment-form">
                          <div class="form-group">
                            <div class="col-sm-12">
                              <label>Message</label>
                              <textarea class="form-control" rows="6"></textarea>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-sm-4">
                              <label>Name *</label>
                              <input type="text" class="form-control">
                            </div>
                            <div class="col-sm-4">
                              <label>Email *</label>
                              <input type="email" class="form-control">
                            </div>
                            <div class="col-sm-4">
                              <label>Website</label>
                              <input type="url" class="form-control">
                            </div>
                          </div>
                          <p class="form-submit">
                            <input name="submit" type="submit" class="button" value="Submit">
                          </p>
                        </form>
                      </div>
                      -->

                  <div class="section-title groupEdWd-display-none">
                      <h3 v-if="comments.length >= 2">
                          <span class="groupEdWd-comments">{{comments.length}}</span>
                          Comments</h3>
                      <h3 v-else>
                          <span class="groupEdWd-comments">{{comments.length}}</span>
                          Comment</h3>
                  </div>

                  <ol class="comment-list groupEdWd-display-none">
                      <li v-for="item in comments" :key="item.id" class="comment even parent">
                          <article class="comment-body">
                              <footer class="comment-meta">
                                  <div class="comment-author vcard">
                                      <img alt="" src="/assets/images/default-avatar.png" class="avatar">
                                      <span class="fn">{{ item.full_name}}</span>
                                  </div>

                                  <div class="comment-metadata">
                                      <a href="#">
                                          <time datetime="2016-05-09T00:51:13+00:00"> {{ item.created_at | myDate }}</time>
                                      </a>
                                  </div>
                              </footer>

                              <div class="comment-content">
                                  <p class="text-justify">{{ item.body }}</p>
                              </div>
                          </article>
                      </li>
                  </ol>

                  <div class="comment-respond groupEdWd-display-none" id="respond">
                      <div class="section-title">
                          <h3>Leave a comment</h3>
                      </div>

                      <form @submit.prevent="commentItem()" @keydown="form.onKeydown($event)"
                            class="form-horizontal comment-form">
                          <div class="form-group">
                              <div class="col-sm-3">
                                  <label>Name <span class="groupEdWd-required">*</span></label>
                                  <input v-model="form.full_name" type="text" name="full_name" placeholder="Full name" class="form-control"
                                         :class="{ 'is-invalid': form.errors.has('full_name') }"/>
                                  <has-error :form="form" class="groupEdWd-required" field="full_name"></has-error>
                              </div>
                              <div class="col-sm-3">
                                  <label>Email <span class="groupEdWd-required">*</span></label>
                                  <input v-model="form.email" type="email" name="full_name" placeholder="Email" class="form-control"
                                         :class="{ 'is-invalid': form.errors.has('email') }"/>
                                  <has-error :form="form" class="groupEdWd-required" field="email"></has-error>
                              </div>
                              <div class="col-sm-3">
                                  <label>Website</label>
                                  <input v-model="form.url" type="url" name="url" placeholder="Website" class="form-control"
                                         :class="{ 'is-invalid': form.errors.has('url') }"/>
                                  <has-error :form="form" class="groupEdWd-required" field="url"></has-error>
                              </div>
                              <div class="col-sm-3">
                                  <label for="sex">Civilité <span class="groupEdWd-required">*</span></label>
                                  <select class="form-control form-bordered" :class="{ 'is-invalid': form.errors.has('sex') }" id="sex" v-model="form.sex">
                                      <option disabled hidden selected value="">Je suis ...</option>
                                      <option value="Male">Un Homme</option>
                                      <option value="Female">Un Femme</option>
                                  </select>
                                  <has-error :form="form" class="groupEdWd-required" field="sex"/>
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="col-sm-12">
                                  <label>Message <span class="groupEdWd-required">*</span></label>
                                  <textarea class="form-control" rows="6" v-model="form.body" :class="{ 'is-invalid': form.errors.has('body') }"></textarea>
                                  <has-error :form="form" class="groupEdWd-required" field="body"></has-error>
                              </div>
                          </div>
                          <p class="form-submit">
                              <input type="submit" class="button" value="Submit">
                          </p>
                      </form>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <Footer />
  </div>
</template>

<script>
    import Navbar from "../../../layouts/Site/Navbar";
    import Footer from "../../../layouts/Site/Footer";
    import ULSiteCategoryservice from "../../../layouts/Site/inc/ULSiteCategoryservice";

    export default {
  name: "Services",
  components: { ULSiteCategoryservice, Navbar, Footer },
  data() {
      document.title = `Our Services | ${this.$name_site}`;
        return {
            comments: [],
            servicesite: { categoryservice: [], user: [] },
            form: new Form({
                full_name: '',
                email: '',
                sex: '',
                url: '',
                body: '',
            }),
        }
    },
    computed: {
        checkValidation() {
            return (this.form.full_name && this.form.email &&
                this.form.sex && this.form.body) ? true : false;
        }
    },

    methods: {
        commentItem() {
            this.$Progress.start();
            // Submit the form via a POST request
            this.form.busy = true;
            this.form.post(`/services/${this.$route.params.categoryservice}/${this.$route.params.servicesite}/comments`).then(() => {
                //Insertion de l'alert !
                toastr.success('Commentaire envoyé correctement', '', {timeOut: 5000});
                //Fin insertion de l'alert !

                this.form.reset();
                //End Progress bar

                this.$Progress.finish();

                Fire.$emit("ItemGetter");
            }).catch(() => {
                //Failled message
                this.$Progress.fail();
                //Alert error
                toastr.error('The information is incorrect', '', {timeOut: 5000});
            })
        },

        loadItems() {
            //Start Progress bar
            this.$Progress.start();
            let Itemcategoryservice = this.$route.params.categoryservice;
            let Itemservicesite = this.$route.params.servicesite;
            dyaxios.get(route("api.servicesitesendcomment_site", [Itemcategoryservice, Itemservicesite])).then((response) => {
                this.loaded = true;
                this.comments = response.data;
                this.mydatatables();
            });
            //End Progress bar
            this.$Progress.finish();
        },

    },
    mounted() {
        let Itemcategoryservice = this.$route.params.categoryservice;
        let Itemservicesite = this.$route.params.servicesite;
        dyaxios.get(route("api.servicesites_show", [Itemcategoryservice, Itemservicesite])).then(({ data }) => (this.servicesite = data));
        this.loadItems();
        Fire.$on("ItemGetter", () => {
            this.loadItems();
        });
    },
};
</script>

<style scoped>
</style>
