<template>
    <footer class="footer groupEdWd-footer">
        <div class=" container-fluid">
            <nav>
                <ul>
                    <li>
                        <a class="font-weight-bold" href="/" target="_blank">
                            <span>Edwd Engineering</span>
                        </a>
                    </li>
                    <li>
                        <a class="font-weight-bold" href="/about" target="_blank">
                            A' Propos
                        </a>
                    </li>
                    <li>
                        <a class="font-weight-bold" href="/nos-services" target="_blank">
                            Nos Services
                        </a>
                    </li>
                    <li>
                        <a class="font-weight-bold" href="/nos-projects" target="_blank">
                            Nos Projets
                        </a>
                    </li>
                    <li>
                        <a class="font-weight-bold" href="/contact-us" target="_blank">
                            Nous Contactez
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright font-weight-bold mr-4" id="copyright">
                Copyright &copy;
                <span v-if="isCurrentYear">{{createdYear}} - </span><span>{{currentYear}}</span>
                - Crée par <a href="https://www.kazougroup.com" target="_blank">KazouGroup Srl</a>
            </div>
        </div>
    </footer>
</template>

<script>
    export default {
        name: "Footer",
        data() {
            return {
                currentYear: new Date().getFullYear(),
                isCurrentYear: false,
                createdYear: '2020'
            }
        },
        created() {
            this.isCurrentYear = (this.currentYear != this.createdYear) ? true : false;
        }
    }
</script>

<style scoped>

</style>
