<template>
    <div class="sidebar" data-color="orange">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
      -->
        <div class="logo">
            <a :href="$url_site" class="simple-text logo-mini">
                CT
            </a>
            <a :href="$url_site" class="simple-text logo-normal">
               {{$name_site}}
            </a>
            <div class="navbar-minimize">
                <button id="minimizeSidebar" class="btn btn-outline-white btn-icon btn-round">
                    <i class="now-ui-icons text_align-center visible-on-sidebar-regular"></i>
                    <i class="now-ui-icons design_bullet-list-67 visible-on-sidebar-mini"></i>
                </button>
            </div>
        </div>
        <div class="sidebar-wrapper" id="sidebar-wrapper">
            <div class="user">
                <div class="photo">
                    <img src="/assets/dashboard/img/james.jpg" />
                </div>
                <div class="info">
                    <a data-toggle="collapse" href="#collapseExample" class="collapsed">
              <span>
                {{$user.name}}
                <b class="caret"></b>
              </span>
                    </a>
                    <div class="clearfix"></div>
                    <div class="collapse" id="collapseExample">
                        <ul class="nav">
                            <li>
                                <a href="#">
                                    <span class="sidebar-mini-icon">MP</span>
                                    <span class="sidebar-normal">My Profile</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="nav">
                <li>
                    <router-link :to="{ name: 'dashboard.index'}" >
                        <i class="now-ui-icons design_app"></i>
                        <p>Dashboard</p>
                    </router-link>
                </li>
                <li>
                    <a data-toggle="collapse" href="#pagesProjects">
                        <i class="now-ui-icons business_briefcase-24"></i>
                        <p>
                            Projects <b class="caret"></b>
                        </p>
                    </a>
                    <div class="collapse " id="pagesProjects">
                        <ul class="nav">
                            <li>
                                <router-link :to="{ name: 'categoryprojects.index'}">
                                    <span class="sidebar-mini-icon">CA</span>
                                    <span class="sidebar-normal"> Categories Projects </span>
                                </router-link>
                            </li>
                            <li>
                                <router-link :to="{ name: 'projects.index'}">
                                    <span class="sidebar-mini-icon">PJ</span>
                                    <span class="sidebar-normal"> Projects </span>
                                </router-link>
                            </li>
                        </ul>
                    </div>
                </li>
                 <li>
                    <a data-toggle="collapse" href="#pagesServices">
                        <i class="now-ui-icons ui-1_settings-gear-63"></i>
                        <p>
                            Services <b class="caret"></b>
                        </p>
                    </a>
                     <div class="collapse" id="pagesServices">
                        <ul class="nav">
                            <li>
                                <router-link :to="{ name: 'categoryservices.index'}">
                                    <span class="sidebar-mini-icon">CS</span>
                                    <span class="sidebar-normal"> Categories Services </span>
                                </router-link>
                            </li>
                            <li>
                                <router-link :to="{ name: 'servicesites.index'}">
                                    <span class="sidebar-mini-icon">SV</span>
                                    <span class="sidebar-normal"> Services </span>
                                </router-link>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <router-link :to="{ name: 'faqs.index'}" >
                        <i class="now-ui-icons travel_info"></i>
                        <p>FAQS</p>
                    </router-link>
                </li>
                <li>
                    <router-link :to="{ name: 'contacts.index'}" >
                        <i class="now-ui-icons ui-1_email-85"></i>
                        <p>Messages</p>
                    </router-link>
                </li>
                <li>
                    <router-link :to="{ name: 'newsletters.index'}" >
                        <i class="now-ui-icons ui-2_chat-round"></i>
                        <p>Newsletters</p>
                    </router-link>
                </li>
                <li>
                    <router-link :to="{ name: 'users.index'}" >
                        <i class="now-ui-icons users_circle-08"></i>
                        <p>Users</p>
                    </router-link>
                </li>
                <li>
                    <a data-toggle="collapse" href="#pagesConfiguration">
                        <i class="now-ui-icons ui-2_settings-90"></i>
                        <p>
                            Configuration Pages <b class="caret"></b>
                        </p>
                    </a>
                    <div class="collapse" id="pagesConfiguration">
                        <ul class="nav">
                            <li>
                                <router-link :to="{ name: 'termeconditions.index'}">
                                    <span class="sidebar-mini-icon">TC</span>
                                    <span class="sidebar-normal">Terms & Conditions</span>
                                </router-link>
                            </li>
                            <li>
                                <router-link :to="{ name: 'politiquesites.index'}">
                                    <span class="sidebar-mini-icon">PP</span>
                                    <span class="sidebar-normal">Privacies Policies</span>
                                </router-link>
                            </li>
                            <li>
                                <router-link :to="{ name: 'cookies.index'}">
                                    <span class="sidebar-mini-icon">CO</span>
                                    <span class="sidebar-normal">Cookies</span>
                                </router-link>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Navbar"
    }
</script>

<style scoped>

</style>
