<template>
  <div class="wrapper">
    <vue-progress-bar />
    <Navbar />
    <div class="main-panel" id="main-panel">
      <NavTop />
      <div class="panel-header">
        <div class="header text-center">
          <h2 class="title">{{contact.subject || ""}}</h2>
        </div>
      </div>
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body m-5">
                            <div class="toolbar">

                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="labels">
                                        Full Name
                                    </label>
                                    <div class="form-group">
                                        <label class="bmd-label-floating"></label>
                                        <input class="form-control" disabled name="title" placeholder="Name" type="text"
                                               v-model="contact.name"/>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="labels">
                                        Phone Number
                                    </label>
                                    <div class="form-group">
                                        <label class="bmd-label-floating"></label>
                                        <input class="form-control" disabled name="title" placeholder="Phone"
                                               type="text" v-model="contact.phone"/>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="labels">
                                        Email Address
                                    </label>
                                    <div class="form-group">
                                        <label class="bmd-label-floating"></label>
                                        <input class="form-control" disabled name="title" placeholder="Email"
                                               type="text" v-model="contact.email"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row my-5">
                                <div class="col-md-12">
                                    <span class="text-justify" v-html="contact.message"></span>
                                </div>
                            </div>
                            <hr>
                            <div class="submit">
                                <div class="text-center">
                                    <router-link :to="{ name: 'contacts.index' }" class="btn btn-secondary btn-raised">
                                        <i class="now-ui-icons arrows-1_minimal-left"></i>
                                        <b class="title_hover">Back to Messages</b>
                                    </router-link>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      <Footer></Footer>
    </div>
  </div>
</template>

<script>
    import NavTop from "../../../layouts/Dashboard/NavTop";
    import Navbar from "../../../layouts/Dashboard/Navbar";
    import Footer from "../../../layouts/Dashboard/Footer";

    export default {
  name: "Dashboard",
  components: { NavTop, Navbar, Footer },
  data() {
      document.title = `Contact Dashboard - ${this.$name_site}`;

      return {
          loaded: false,
          contact: {},
    };
  },
  methods: {


  },
   mounted() {

        this.$Progress.start();
            let Itemslug = this.$route.params.contact;
            dyaxios.get(route('api.dashboard_contact_show',[Itemslug])).then((response) => {
                this.loaded = true;
                this.contact = response.data;
            });
            this.$Progress.finish()

        }
};
</script>

<style scoped>
</style>
