<template>
    <div class="wrapper">
        <vue-progress-bar/>
        <Navbar/>
        <div class="main-panel" id="main-panel">
            <NavTop/>
            <div class="panel-header">
                <div class="header text-center">
                    <h2 class="title">Cookies</h2>
                    <p class="category">
                        <a href="/nos-cookies" target="_blank">
                            Navigate to Cookies
                            <i class="now-ui-icons arrows-1_minimal-right"></i>
                        </a>
                    </p>
                </div>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body my-5">
                                <div class="toolbar">
                                    <div class="submit text-center" v-if="cookies.length == 0">
                                        <router-link
                                                :to="{ name: 'cookies.create' }"
                                                class="btn btn-primary btn-raised"
                                        >
                                            <i class="now-ui-icons ui-1_simple-add"></i>
                                            <b class="title_hover">New Cookie</b>
                                        </router-link>
                                    </div>
                                </div>
                                <table
                                        cellspacing="0"
                                        class="table table-striped table-bordered groupEdWd-datatable"
                                        id="datatable"
                                >
                                    <thead>
                                    <tr>
                                        <th>Cookie Name</th>
                                        <th>Created By</th>
                                        <th>Status</th>
                                        <th>Created Date</th>
                                        <th class="disabled-sorting text-right">Actions</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th>Cookie Name</th>
                                        <th>Created By</th>
                                        <th>Status</th>
                                        <th>Created Date</th>
                                        <th class="disabled-sorting text-right">Actions</th>
                                    </tr>
                                    </tfoot>
                                    <tbody>
                                    <tr :key="item.id" v-for="item in cookies">
                                        <td>
                                            {{
                                            (item.title.length > 15
                                            ? item.title.substring(0, 15) + "..."
                                            : item.title) | upText
                                            }}
                                        </td>
                                        <td v-if="item.user_id !== null">{{ item.user.name }}</td>
                                        <td v-else>No user</td>
                                        <td>
                                            <div class="timeline-heading">
                          <span class="badge badge-success" v-if="item.status"
                          ><b>Active</b></span
                          >
                                                <span
                                                        class="badge badge-danger"
                                                        v-else-if="!item.status"
                                                ><b>Deactive</b></span
                                                >
                                            </div>
                                        </td>
                                        <td>
                                            <b>{{ item.created_at | dateAgo }}</b>
                                        </td>
                                        <td class="text-right">
                                            <template>
                                                <button
                                                        @click="statusItem(item)"
                                                        class="btn btn-round btn-success btn-icon btn-sm remove"
                                                        title="Desactivate Cookie"
                                                        type="button"
                                                        v-if="item.status"
                                                >
                                                    <i class="now-ui-icons ui-1_check"/>
                                                </button>
                                                <button
                                                        @click="statusItem(item)"
                                                        class="btn btn-round btn-danger btn-icon btn-sm remove"
                                                        title="Activate Cookie"
                                                        type="button"
                                                        v-else
                                                >
                                                    <i class="now-ui-icons ui-1_simple-delete"/>
                                                </button>
                                            </template>

                                            <router-link
                                                    :to="{ name: 'cookies.edit', params: { id: item.id } }"
                                                    class="btn btn-round btn-info btn-icon btn-sm edit"
                                                    title="Edit Cookie"
                                            >
                                                <i class="far fa-edit"></i>
                                            </router-link>
                                            <button
                                                    @click="deleteItem(item)"
                                                    class="btn btn-round btn-danger btn-icon btn-sm remove"
                                                    title="Delete Cookie"
                                            >
                                                <i class="fas fa-times"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <Footer/>
        </div>
    </div>
</template>

<script>
    import NavTop from "../../../layouts/Dashboard/NavTop";
    import Navbar from "../../../layouts/Dashboard/Navbar";
    import Footer from "../../../layouts/Dashboard/Footer";

    export default {
        name: "CookieDashboard",
        components: {NavTop, Navbar, Footer},
        data() {
            document.title = `Cookies Dashboard - ${this.$name_site}`;
            return {
                loaded: false,
                cookies: {},
            };
        },
        methods: {
            mydatatables() {
                $(function () {
                    $("#datatable").DataTable({
                        pagingType: "full_numbers",
                        lengthMenu: [
                            [10, 25, 50, -1],
                            [10, 25, 50, "All"],
                        ],
                        responsive: true,
                        retrieve: true,
                        destroy: true,
                        colReorder: true,
                        language: {
                            searchPlaceholder: "Search Record",
                        },
                        sPaginationType: "full_numbers",
                    });
                });
            },

            statusItem(item) {
                //Progress bar start
                this.$Progress.start();
                this.message = !item.status ? 'activated ' : 'desactivated ';
                this.message = 'Cookie ' + this.message + 'successfully.';
                dyaxios
                    .post(route("status.cookies", [item.id]))
                    .then(() => {
                        /** Alert notify bootstrapp **/
                        $.notify(
                            {
                                message: this.message
                            },
                            {
                                allow_dismiss: false,
                                type: "info",
                                placement: {
                                    from: "top",
                                    align: "right",
                                },
                                animate: {
                                    enter: "animated fadeInDown",
                                    exit: "animated fadeOutUp",
                                },
                            }
                        );
                        /** End alert ***/

                        //End Progress bar
                        this.$Progress.finish();
                        Fire.$emit("ItemGetter");
                    })
                    .catch(() => {
                        //Alert error
                        $.notify("Ooop! Something wrong. Try later", {
                            type: "danger",
                            animate: {
                                enter: "animated bounceInDown",
                                exit: "animated bounceOutUp",
                            },
                        });
                    });
            },

            deleteItem(item) {
                Swal.fire({
                    title: "Delete Cookie",
                    text: "Are you sure you want to delete this cookie?",
                    customClass: "animated pulse",
                    icon: 'error',
                    buttonsStyling: false,
                    confirmButtonClass: "btn btn-success",
                    cancelButtonClass: "btn btn-danger",
                    confirmButtonText: "<i class=\"now-ui-icons ui-1_check\"></i> Yes, Delete",
                    cancelButtonText: "<i class=\"now-ui-icons ui-1_simple-remove\"></i> No, Cancel",
                    showCancelButton: true,
                    reverseButtons: true,
                }).then((result) => {
                    if (result.value) {
                        //Start Progress bar
                        this.$Progress.start();

                        let index = this.cookies.indexOf(item);
                        this.cookies.splice(index, 1);

                        //Envoyer la requete au server
                        let url = `/dashboard/cookies/${item.id}/delete`;
                        dyaxios
                            .delete(url)
                            .then(() => {
                                /** Alert notify bootstrapp **/
                                $.notify(
                                    {
                                        message: "Cookie deleted successfully.",
                                    },
                                    {
                                        allow_dismiss: false,
                                        type: "success",
                                        placement: {
                                            from: "top",
                                            align: "right",
                                        },
                                    }
                                );
                                /* End alert ***/
                                //End Progress bar
                                this.$Progress.finish();

                                Fire.$emit("ItemGetter");
                            })
                            .catch(() => {
                                this.$Progress.fail();
                                //Alert error
                                $.notify("Ooop! Something wrong. Try later", {
                                    type: "danger",
                                    animate: {
                                        enter: "animated bounceInDown",
                                        exit: "animated bounceOutUp",
                                    },
                                });
                            });
                    }
                });
            },

            loadItems() {
                //Start Progress bar
                this.$Progress.start();
                dyaxios.get("/api/dashboard/cookies").then((response) => {
                    this.loaded = true;
                    this.cookies = response.data;
                    this.mydatatables();
                });
                //End Progress bar
                this.$Progress.finish();
            },
        },
        created() {
            this.loadItems();
            Fire.$on("ItemGetter", () => {
                this.loadItems();
            });
        },
    }
</script>

<style scoped>

</style>
