<template>
    <div>
        <footer id="colophon" class="site-footer bg-black" role="contentinfo">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <section class="widget">
                            <img alt="bootstrap theme for construction companies"
                                 class="img-responsive marg-20-btm marg-20-top"
                                 src="/assets/site/images/img-logo-footer.png">
                            <!-- <p class="text-justify">Lorem Ipsum è un testo segnaposto utilizzato nel settore della
                                tipografia e della stampa.
                                Lorem Ipsum è considerato il testo segnaposto standard sin dal sedicesimo secolo, quando
                                un anonimo tipografo prese una cassetta di caratteri e li assemblò per preparare un
                                testo campione. È sopravvissuto non solo a più di cinque secoli, ma anche al passaggio
                                alla videoimpaginazione, pervenendoci sostanzialmente inalterato.</p> -->
                        </section>
                    </div>

                    <div class="col-md-3 col-sm-6 col-sm-offset-0">
                        <section class="widget">
                            <h3 class="groupEdWd-footer-title widget-title">Who are we?</h3>
                            <ul>
                                <li><a href="/about">About Us</a></li>
                                <li><a href="/nos-services">Our Services</a></li>
                                <li><a href="/nos-projects">Our Projects</a></li>
                                <li><a href="/nos-blogs">Our Blog</a></li>
                                <li><a href="/nos-faqs">Our Faqs</a></li>
                            </ul>
                        </section>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <section class="widget">
                            <h3 class="groupEdWd-footer-title widget-title">Our Services</h3>
                            <ul>
                                <li :key="item.id" v-for="item in services">
                                    <a :href="`/services/${item.slug}`"> {{ item.name }} </a>
                                </li>
                            </ul>
                        </section>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <section class="widget">
                            <h3 class="groupEdWd-footer-title widget-title">Contact Us</h3>
                            <p><img class="groupEdWd-footer-flag" src="/assets/images/flags/Germany.png"/> Wilhelm hauff
                                str 23, 86161 Augsburg</p>
                            <p><img class="groupEdWd-footer-flag" src="/assets/images/flags/Italy.png"/> Via Daniele
                                Ricciarelli, 31, 20148 Milano</p>
                            <p>startup@construction.com<br>(+49) 176 65639024 / (+39) 380 342 7159</p>
                            <ul>
                                <li><a href="/contact-us">Leave us a message</a></li>
                            </ul>
                        </section>
                    </div>
                </div>
            </div>
        </footer>

        <section id="copyright" class="copyright bg-black">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 copy-left">
                        <p>Copyright &copy; <span
                                v-if="isCurrentYear">{{createdYear}} - </span><span>{{currentYear}}</span>
                            - Created by <a href="https://www.kazoucoin.com/" target="_blank">KazouGroup Srl</a>. All
                            rights reserved.
                        </p>
                        <a href="/nos-termes-conditions">Terms and Conditions</a>
                        <span class="groupEdWd-bullet"></span>
                        <a href="/nos-politiques">Privacy Policies</a>
                        <span class="groupEdWd-bullet"></span>
                        <a href="/nos-cookies">Cookies</a>
                    </div>

                    <div class="col-sm-6 copy-right">
                        <ul class="social-icon">
                            <li><a class="icon-linkedin" href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li><a href="#" target="_blank" class="icon-twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="icon-facebook" href="#" target="_blank"><i class="fa fa-facebook-square"></i></a>
                            </li>
                            <li><a href="#" target="_blank" class="icon-youtube"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    export default {
        name: "Footer",
        data() {
            return {
                currentYear: new Date().getFullYear(),
                isCurrentYear: false,
                createdYear: '2020',
                services: {}
            }
        },
        methods: {
            loadServices() {
                dyaxios.get(route("api.categoryservices")).then((response) => {
                    this.services = response.data;
                });
            },
        },
        created() {
            this.isCurrentYear = (this.currentYear != this.createdYear) ? true : false;
            this.loadServices();
        },
    }
</script>

<style scoped>

</style>
